.testimonial .partners li:focus {
    outline: none;
}
.testimonial .partners .slick-dots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 30px;
}
.testimonial .partners .slick-dots li {
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: #ccc;
    margin: 0 5px;
    border-radius: 100%;
    text-indent: -999px;
    color: transparent;
    cursor: pointer;
    padding: 0;
    float: none;
}
.testimonial .partners .slick-dots li.slick-active {
    background: #c88c27;
}