/* ==========================================================================
   Helper styles
   ========================================================================== */

.container {
	width: 90%;
	max-width: 1800px;
}
.text-center {
	text-align: center;
}

.btn-outline {
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 0;
	color: #000;
}

.vspace-2 {
	height: 2px;
	display: block;
	clear: both;
}

.vspace-4 {
	height: 4px;
	display: block;
	clear: both;
}

.vspace-6 {
	height: 6px;
	display: block;
	clear: both;
}

.vspace-8 {
	height: 8px;
	display: block;
	clear: both;
}

.vspace-10 {
	height: 10px;
	display: block;
	clear: both;
}

.vspace-12 {
	height: 12px;
	display: block;
	clear: both;
}

.vspace-14 {
	height: 14px;
	display: block;
	clear: both;
}

.vspace-16 {
	height: 16px;
	display: block;
	clear: both;
}

.vspace-18 {
	height: 18px;
	display: block;
	clear: both;
}

.vspace-20 {
	height: 20px;
	display: block;
	clear: both;
}

.vspace-22 {
	height: 22px;
	display: block;
	clear: both;
}

.vspace-24 {
	height: 24px;
	display: block;
	clear: both;
}

.vspace-26 {
	height: 26px;
	display: block;
	clear: both;
}

.vspace-28 {
	height: 28px;
	display: block;
	clear: both;
}

.vspace-30 {
	height: 30px;
	display: block;
	clear: both;
}

.vspace-32 {
	height: 32px;
	display: block;
	clear: both;
}

.vspace-34 {
	height: 34px;
	display: block;
	clear: both;
}

.vspace-36 {
	height: 36px;
	display: block;
	clear: both;
}

.vspace-38 {
	height: 38px;
	display: block;
	clear: both;
}

.vspace-40 {
	height: 40px;
	display: block;
	clear: both;
}

.vspace-42 {
	height: 42px;
	display: block;
	clear: both;
}

.vspace-44 {
	height: 44px;
	display: block;
	clear: both;
}

.vspace-46 {
	height: 46px;
	display: block;
	clear: both;
}

.vspace-48 {
	height: 48px;
	display: block;
	clear: both;
}

.vspace-50 {
	height: 50px;
	display: block;
	clear: both;
}

.color1 {
	color: #55beba;
}

.color2 {
	color: #ff5a34;
}

.color3 {
	color: #f36b6b;
}

.color4 {
	color: #a1b1b1;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	color: #fafcff;
	background-color: #1b1b1b;
}

html {
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
	/* overflow-x: hidden;s */
}

a:hover,
a:focus {
	color: #ff5a34;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

a {
	color: #ff5a34;
	text-decoration: none;
}

header .navbar {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#banner {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	padding: 0;
}

#banner:before {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
	background: rgba(0, 0, 0, 0.6);
}

#banner .bannerText {
	position: absolute;
	z-index: 102;
}

#banner .bannerText.one {
	left: 0;
	bottom: 0;
	height: 70%;
	width: 21%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#banner .bannerText.one:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: url(../img/banner_pattern1.svg) no-repeat right top;
        background-size: 100%;*/
	opacity: 0.5;
}

#banner .bannerText.one span {
	color: #fff;
	font-size: 30px;
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
	display: block;
	text-align: center;
	z-index: 1;
	position: relative;
	top: -30px;
	left: -20px;
	opacity: 0.8;
}

#banner .bannerText.two {
	top: 0;
	right: 0;
	text-transform: uppercase;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 500px 130px 40px 200px;
	width: 60%;
}

#banner .bannerText.two:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: #0e2748; */
	/* background: url("../img/banner_pattern2.svg") no-repeat right center;
        background-size: auto 100%;*/
	opacity: 0.5;
}

#banner .bannerText.two h1:before {
	content: '';
	position: absolute;
	background-color: #ff5a34;
	width: 8px;
	/* bottom: 5px; */
	top: 20%;
	left: -30px;
	height: 70%;
}

#banner .bannerText.two h1 {
	color: #ff5a34;
	font-weight: bold;
	font-size: 52px;
	position: relative;
	margin: 0;
	line-height: 48px;
	padding: 7px 0;
	margin-left: 50px;
	text-align: left;
	width: fit-content;
	/* border-left: 4px solid #ff5a34; */
	/* background: linear-gradient(
		to right,
		transparent 25%,
		transparent 25%,
		rgb(255, 90, 52) 25%,
		rgb(255, 90, 52) 75%
		); */
}

/* #banner .bannerText.two h1 .light {
		color: #fff;
		font-weight: 300 !important;
		text-transform: lowercase !important;
	} */

#banner .bannerText.two h1 span:before {
	content: '';
	position: absolute;
	width: 75%;
	height: 50%;
	bottom: 0;
	left: -20%;
	background-color: #0e2748;
	opacity: 0.5;
}

#banner .bannerText.two h1 span {
	color: #fff;
	font-weight: bold;
	font-size: 43px;
	position: relative;
	z-index: 3;
	margin: 0;
	/* background: linear-gradient(
		to right,
		transparent 25%,
		transparent 25%,
		rgb(255, 90, 52) 25%,
		rgb(255, 90, 52) 75%
		); */
}

#banner .bannerText.two h1 span:after {
	content: '';
	position: absolute;
	width: 75%;
	height: 50%;
	top: 10%;
	left: 20%;
	background-color: #0e2748;
	opacity: 0.5;
	color: #ff5a34;
}

#banner .bannerText.two .bannerSliderWrap {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}

#banner .bannerText.two .bannerSliderWrap .bannerSlider {
	opacity: 0;
	visibility: hidden;
}

#banner .bannerText.two .bannerSliderWrap .bannerSlider.slick-initialized {
	opacity: 1;
	visibility: visible;
}

#banner .bannerText.two .bannerSliderWrap .bannerSlider .bannerSlide {
	outline: none;
}

#banner .bannerText.two .bannerSliderWrap .bannerSlider .bannerSlide:focus {
	outline: none;
}

.navbar-brand img {
	border: 1px solid #ff5a34;
	width: 60px;
}

/*HOME BANNER VIDEO STYLES*/
.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
}

.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.video-container video.fillWidth {
	width: 100%;
}

/*HOME BANNER VIDEO STYLES*/
.homeSection {
	overflow: hidden;
	padding: 100px 0;
	position: relative;
}

.homeSection .section-title {
	/* margin-bottom: 50px; */
	text-transform: uppercase;
}

.homeSection .section-title h2 {
	font-size: 32pt;
	font-weight: 700;
	color: #ff5a34;
	/* line-height: 0.6; */
}

#intro .section-inner {
	max-width: 80%;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
	top: 100px;
	opacity: 0;
	transition: all 1.5s ease;
}

#intro .section-inner .section-top ul {
	list-style-type: none;
}

#intro .section-inner .section-top ul li {
	display: inline-block;
	position: relative;
	min-width: 250px;
}

#intro .section-inner .section-top ul li span {
	display: block;
	position: relative;
	min-width: 200px;
}

#intro .section-inner .section-top ul li span:first-child {
	font-size: 80px;
	font-weight: bold;
	/* padding: 0 40px; */
	line-height: normal;
}

#intro .section-inner .section-top ul li span:first-child:after {
	content: '';
	position: absolute;
	right: 0;
	height: 40%;
	width: 1px;
	background: #ccc;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#intro .section-inner .section-top ul li span:last-child {
	text-transform: uppercase;
	font-size: 16px;
}

#intro .section-inner .section-top ul li:last-child span:first-child:after {
	display: none;
}

#intro .section-inner .section-bottom {
	padding-top: 20px;
	max-width: 90%;
	margin: 0 auto;
	font-size: 17px;
}

#intro .section-inner .section-bottom .btn-outline {
	padding: 8px 40px;
}

#intro.visible .section-inner {
	top: 0;
	opacity: 1;
}

.about .section-title span {
	display: block;
}

.about .section-img {
	height: 100%;
	width: 50%;
	background: #ccc;
	position: absolute;
	right: 0;
	/* z-index: -1; */
	top: 0;
}

.about .section-img:before {
	content: '';
	position: absolute;
	width: 100%;

	height: 100%;
	background: rgba(0, 0, 0, 0.05);
	z-index: 1;
}

.about .section-img video {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.about .about-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about .about-inner .about-title {
	width: 30%;
}

.about .about-inner .about-title span {
	position: relative;
	display: inline-block;
}

.about .about-inner .about-title .line {
	height: 0px;
	width: 70%;
	display: block;
}

.about .about-inner .about-title .line:before {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	background: #ff5a34;
	left: 0;
	bottom: -10px;
	-webkit-animation: lineExpand 3.5s ease 0s infinite alternate;
	animation: lineExpand 3.5s ease 0s infinite alternate;
}

.about .about-inner .about-text {
	width: 50%;
	padding: 60px;
	background-color: rgba(255, 90, 52, 0.68);
	text-align: justify;
	z-index: 2;
}

.about .about-inner .about-text p {
	font-size: 17px;
}

.timeline .timeline-wrapper {
	position: relative;
	counter-reset: section;
}

.timeline .timeline-wrapper .timeline-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 150px;
	position: relative;
}

.timeline .timeline-wrapper .timeline-block .timeline-img:after {
	counter-increment: section;
	content: '0' counter(section);
	position: absolute;
	bottom: 10px;
	font-size: 150px;
	z-index: 88;
	color: #ff5a34;
	font-weight: 600;
	padding: 0 40px;
	line-height: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.timeline .timeline-wrapper .timeline-block .timeline-img {
	width: 50%;
	max-width: calc(50% - 20px);
	background: #ccc;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.timeline .timeline-wrapper .timeline-block .timeline-content {
	width: 50%;
	max-width: calc(50% - 20px);
	/*border: 1px solid #ccc;*/
	box-shadow: inset 0 0 0 1px #f5f5f5;
	padding: 30px;
	position: relative;
	vertical-align: middle;
	text-align: justify;
	/*
      .line-top,
      .line-bottom{
      	position: absolute;
          width: 0;
          height: 1px;
          background: #ccc;
          //animation-fill-mode: forwards;
          //animation: line1 linear 4s infinite alternate;
      }
      .line-left,
      .line-right{
      	position: absolute;
          width: 1px;
          height: 0;
          background: #ccc; 
          //animation-fill-mode: forwards;
          //animation: line2 linear 4s infinite alternate;
      }
      
      .line-top{
          top: 0;   
          left: 0;
          animation: line1 linear 5s infinite alternate;
          animation-play-state: paused;
      }
      .line-right{
          top: 0;
          right: 0;
          animation: line2 linear 5s infinite alternate;
          animation-play-state: paused;
      }
      .line-bottom{
          bottom: 0;
          right: 0;
          animation: line3 linear 5s infinite alternate;
          animation-play-state: paused;
      }
      .line-left{
          left: 0;
          bottom: 0;
          animation: line4 linear 5s infinite alternate;
          animation-play-state: paused;
      }
      */
}

.timeline .timeline-wrapper .timeline-block .timeline-content::before,
.timeline .timeline-wrapper .timeline-block .timeline-content::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	width: 0;
	height: 0;
}

.timeline .timeline-wrapper .timeline-block .timeline-content::before {
	top: 0;
	left: 0;
}

.timeline .timeline-wrapper .timeline-block .timeline-content::after {
	bottom: 0;
	right: 0;
}

.timeline .timeline-wrapper .timeline-block .timeline-content::after {
	top: 0;
	left: 0;
}

.timeline .timeline-wrapper .timeline-block .timeline-content:hover::before,
.timeline .timeline-wrapper .timeline-block .timeline-content:hover::after {
	width: 100%;
	height: 100%;
}

.timeline .timeline-wrapper .timeline-block .timeline-content:hover::before {
	border-top-color: #ff5a34;
	border-right-color: #ff5a34;
	transition: width 2.25s ease-out, height 2.25s ease-out 2.25s;
}

.timeline .timeline-wrapper .timeline-block .timeline-content:hover::after {
	border-bottom-color: #ff5a34;
	border-left-color: #ff5a34;
	transition: height 2.25s ease-out, width 2.25s ease-out 2.25s;
}

.timeline .timeline-wrapper .timeline-block:before {
	content: '';
	position: absolute;
	top: calc(100% - 105px);
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 3px;
	height: 0px;
	background: #676767;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.timeline .timeline-wrapper .timeline-block:last-child {
	padding-bottom: 0;
}

.timeline .timeline-wrapper .timeline-block:last-child:before {
	display: none;
}

.timeline .timeline-wrapper .timeline-block.reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.timeline .timeline-wrapper .timeline-block > div {
	opacity: 0;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.timeline .timeline-wrapper .timeline-block:nth-child(1):before {
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(1) > div {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(1) .timeline-img:after {
	-webkit-transition-delay: 2.25s;
	transition-delay: 2.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(1)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(1)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(1)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(2):before {
	-webkit-transition-delay: 2.5s;
	transition-delay: 2.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(2) > div {
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(2) .timeline-img:after {
	-webkit-transition-delay: 3.25s;
	transition-delay: 3.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(2)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(2)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(2)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(3):before {
	-webkit-transition-delay: 3.5s;
	transition-delay: 3.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(3) > div {
	-webkit-transition-delay: 3s;
	transition-delay: 3s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(3) .timeline-img:after {
	-webkit-transition-delay: 4.25s;
	transition-delay: 4.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(3)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(3)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(3)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(4):before {
	-webkit-transition-delay: 4.5s;
	transition-delay: 4.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(4) > div {
	-webkit-transition-delay: 4s;
	transition-delay: 4s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(4) .timeline-img:after {
	-webkit-transition-delay: 5.25s;
	transition-delay: 5.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(4)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(4)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(4)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(5):before {
	-webkit-transition-delay: 5.5s;
	transition-delay: 5.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(5) > div {
	-webkit-transition-delay: 5s;
	transition-delay: 5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(5) .timeline-img:after {
	-webkit-transition-delay: 6.25s;
	transition-delay: 6.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(5)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(5)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(5)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(6):before {
	-webkit-transition-delay: 6.5s;
	transition-delay: 6.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(6) > div {
	-webkit-transition-delay: 6s;
	transition-delay: 6s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(6) .timeline-img:after {
	-webkit-transition-delay: 7.25s;
	transition-delay: 7.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(6)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(6)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(6)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(7):before {
	-webkit-transition-delay: 7.5s;
	transition-delay: 7.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(7) > div {
	-webkit-transition-delay: 7s;
	transition-delay: 7s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(7) .timeline-img:after {
	-webkit-transition-delay: 8.25s;
	transition-delay: 8.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(7)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 7s;
	animation-delay: 7s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(7)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(7)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 7s;
	animation-delay: 7s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(8):before {
	-webkit-transition-delay: 8.5s;
	transition-delay: 8.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(8) > div {
	-webkit-transition-delay: 8s;
	transition-delay: 8s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(8) .timeline-img:after {
	-webkit-transition-delay: 9.25s;
	transition-delay: 9.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(8)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(8)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(8)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(9):before {
	-webkit-transition-delay: 9.5s;
	transition-delay: 9.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(9) > div {
	-webkit-transition-delay: 9s;
	transition-delay: 9s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(9) .timeline-img:after {
	-webkit-transition-delay: 10.25s;
	transition-delay: 10.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(9)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 9s;
	animation-delay: 9s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(9)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(9)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 9s;
	animation-delay: 9s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(10):before {
	-webkit-transition-delay: 10.5s;
	transition-delay: 10.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(10) > div {
	-webkit-transition-delay: 10s;
	transition-delay: 10s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(10) .timeline-img:after {
	-webkit-transition-delay: 11.25s;
	transition-delay: 11.25s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(10)
	.timeline-content
	.line-bottom {
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(10)
	.timeline-content
	.line-left,
.timeline
	.timeline-wrapper
	.timeline-block:nth-child(10)
	.timeline-content
	.line-right {
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(1) > div {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.timeline .timeline-wrapper .timeline-block:nth-child(odd) .timeline-img {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.timeline .timeline-wrapper .timeline-block:nth-child(odd) .timeline-img:after {
	right: 0;
}

.timeline .timeline-wrapper .timeline-block:nth-child(odd) .timeline-content {
	-webkit-transform: translateX(100px);
	transform: translateX(100px);
}

.timeline .timeline-wrapper .timeline-block:nth-child(even) .timeline-img {
	-webkit-transform: translateX(100px);
	transform: translateX(100px);
}

.timeline
	.timeline-wrapper
	.timeline-block:nth-child(even)
	.timeline-img:after {
	left: 0;
}

.timeline .timeline-wrapper .timeline-block:nth-child(even) .timeline-content {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.timeline.visible .timeline-wrapper .timeline-block:before {
	height: 70px;
}

.timeline.visible .timeline-wrapper .timeline-block > div {
	opacity: 1;
}

.timeline.visible .timeline-wrapper .timeline-block > div:first-child {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.timeline.visible .timeline-wrapper .timeline-block > div:last-child {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.timeline.visible .timeline-wrapper .timeline-block .timeline-img:after {
	opacity: 1;
}

.timeline.visible
	.timeline-wrapper
	.timeline-block
	.timeline-content
	.line-top {
	animation-play-state: running;
}

.timeline.visible
	.timeline-wrapper
	.timeline-block
	.timeline-content
	.line-right {
	animation-play-state: running;
}

.timeline.visible
	.timeline-wrapper
	.timeline-block
	.timeline-content
	.line-bottom {
	animation-play-state: running;
}

.timeline.visible
	.timeline-wrapper
	.timeline-block
	.timeline-content
	.line-left {
	animation-play-state: running;
}

.more-btn-wrap .more-btn {
	padding: 10px 30px;
	border: 2px solid;
	color: #ff5a34;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.more-btn-wrap .more-btn:hover {
	text-decoration: none;
	color: #ff5a34;
}

.portfolio .grid {
	margin: 0 -4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
}

.portfolio .grid .grid-column:nth-child(odd) {
	width: 37%;
}

.portfolio .grid .grid-column:nth-child(even) {
	width: 26%;
}

/* .portfolio .grid .grid-column:nth-child(3) {
	width: 37%;
} */

/* .portfolio .grid .grid-column:nth-child(1) .grid-block,
.portfolio .grid .grid-column:nth-child(3) .grid-block {
	padding-top: 50%;
} */
.portfolio .grid .grid-column:nth-child(odd) .grid-block {
	padding-top: 50%;
}

.portfolio .grid .grid-column:nth-child(even) .grid-block {
	height: 100%;
}

.portfolio .grid .grid-column .grid-block {
	width: 100%;
	background: #ccc;
	position: relative;
}

.portfolio .grid .grid-column .grid-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 4px solid #1b1b1b;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.portfolio .grid .grid-column .grid-img:before {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 1;
	opacity: 0.5;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 0)),
		to(rgba(0, 0, 0, 0.65))
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.65) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

.portfolio .grid .grid-column .grid-img-title {
	position: absolute;
	bottom: 0;
	padding: 20px;
	color: #ff5a34;
	font-size: 18px;
	width: 100%;
	display: block;
	z-index: 2;
}

.portfolio .grid .grid-column .grid-img-title span {
	display: block;
	font-size: 80%;
	color: #dfdfdf;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.portfolio .grid .grid-column .grid-block:hover .grid-img:before {
	opacity: 1;
}

.testimonial .section-inner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.testimonial .section-inner > div {
	width: 46%;
}

.testimonial .testimonialSlider {
	position: relative;
}

.testimonial .testimonialSlider .slide {
	padding: 20px 0;
	margin: 0 5px;
}

.testimonial
	.testimonialSlider
	.slide
	.testimonialBlock
	.testimonial-meta
	span {
	display: block;
}

.testimonial
	.testimonialSlider
	.slide
	.testimonialBlock
	.testimonial-meta
	span:first-child {
	font-weight: 600;
}

.testimonial .testimonialSlider .slide:focus {
	outline: none;
}

.testimonial .testimonialSlider .slick-arrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 0;
	width: 24px;
	height: 24px;
	overflow: hidden;
	color: transparent;
	text-indent: -9999px;
}

.testimonial .testimonialSlider .slick-prev {
	left: -40px;
	background: url('../img/back.svg');
}

.testimonial .testimonialSlider .slick-next {
	right: -40px;
	background: url('../img/next.svg');
}

.testimonial .testimonialSlider .slick-dots {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.testimonial .testimonialSlider .slick-dots li {
	display: inline-block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background: #ccc;
	margin: 0 5px;
	border-radius: 100%;
	text-indent: -999px;
	color: transparent;
	cursor: pointer;
}

.testimonial .testimonialSlider .slick-dots li.slick-active {
	background: #ff5a34;
}

.testimonial .partners {
	padding: 0;
	margin: 0 -20px;
	list-style-type: none;
	overflow: hidden;
}

.testimonial .partners li {
	width: 50%;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 20px;
}

.testimonial .partners li img {
	width: 100%;
	max-width: 250px;
}

.pre-footer {
	background: #000000;
}

.pre-footer .footer-links .footer-link {
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 13px;
	margin: 10px 0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.pre-footer .footer-links .footer-link:hover {
	color: #fff;
}

footer {
	padding: 20px 0;
	background: #0e0f10;
	color: #fff;
}

footer p {
	margin: 0;
	font-size: 90%;
	color: #fff;
	display: block;
	font-size: 80%;
}

.footer-links h3 {
	color: #ff5a34;
	font-size: 18px;
}

address span {
	border-bottom-color: #222;
}

address span {
	display: block;
	/* border-bottom: solid 1px #222;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 13px;
}

.soc {
	position: fixed;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
}

.soc a {
	display: block !important;
	margin: 0 0 2px 0;
	background: #0e0f10 !important;
}

@media (min-width: 768px) {
	.bodyScrolled .navbar {
		background: #0e0f10;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.navbar-brand {
		height: auto;
		margin-left: 0 !important;
	}

	#navbar {
		margin-top: 32px;
	}

	#navbar .nav {
		margin-right: 0;
		opacity: 0;
		visibility: hidden;
		margin-top: 8px;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	#navbar .nav li {
		margin: 0 20px;
	}

	#navbar .nav li a {
		padding: 0;
		background: transparent;
		color: #fff;
		text-shadow: none;
	}

	#navbar .nav li a {
		font-size: 17px;
	}

	#navbar .nav li a:hover {
		color: #ff5a34;
	}

	#navbar .navbar-toggle {
		display: block;
		margin-left: 15px;
		border: 0;
		padding: 0;
	}

	#navbar .navbar-toggle:hover {
		background: none;
		color: #ff5a34;
	}

	#navbar .navbar-toggle .icon-bar {
		background-color: #f15e3e;
		width: 30px;
		height: 4px;
	}

	#navbar .navbar-toggle:focus {
		background: none;
	}

	#navbar .navbar-toggle.mOpen ~ .nav {
		opacity: 1;
		visibility: visible;
	}
}

.reveal-text,
.reveal-text::after {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-animation-name: reveal-text;
	animation-name: reveal-text;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.reveal-text::after {
	content: '';
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ff5a34;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	pointer-events: none;
	-webkit-animation-name: revealer-text;
	animation-name: revealer-text;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.visible .reveal-text {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.visible .reveal-text:after {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.banner-reveal-text {
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
}

@-webkit-keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}

	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}

@keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}

	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}

@-webkit-keyframes revealer-text {
	0%,
	50% {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
	}

	60%,
	100% {
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
	}

	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
}

@keyframes revealer-text {
	0%,
	50% {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
	}

	60%,
	100% {
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
	}

	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
}

@-webkit-keyframes lineExpand {
	to {
		width: 70%;
	}
}

@keyframes lineExpand {
	to {
		width: 70%;
	}
}

/*

@keyframes line1 {
    0% {
        width: 0;
    }
    45%{
        width: 100%;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 100%;
    }
    100% {
        width: 100%;
    }
}
@keyframes line2 {
    0% {
        height: 0;
    }
    25%{
        height: 100%;
    }
    50%{
        height: 100%;
    }
    75%{
        height: 100%;
    }
    100% {
        height: 100%;
    }
}

@keyframes line3 {
    0% {
        width: 0;
    }
    25%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

@keyframes line4 {
    0% {
        height: 0;
    }
    25%{
        height: 0%;
    }
    50%{
        height: 0%;
    }
    75%{
        height: 100%;
    }
    100% {
        height: 100%;
    }
}

*/

/*# sourceMappingURL=main.css.map */
.video-block {
	height: 0;
	width: 100%;
	/*background: #ccc;*/
	position: relative;
	z-index: 0;
	display: block;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-top: 56.6%;
}

.relative {
	position: relative;
}

.center-block {
	margin: 0 auto;
	float: none;
}

.video-block:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.video-block video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-description {
	position: absolute;
	width: 60%;
	height: auto;
	padding: 50px;
	background: rgba(19, 18, 18, 0.65);
	transform: translateX(100%) translateY(-50%);
	top: 50%;
}

.video-description p {
	text-align: justify;
}

.video-description:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 2s ease 0.3s;
	-webkit-transition: all 2s ease 0.3s;
}

.homeFeatures.visible .video-description:before {
	width: 0;
}

#portfolio .grid {
	opacity: 0;
	transform: translateY(50px);
	-webkit-transform: translateY(50px);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

#portfolio.visible .grid {
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.rellax {
	position: absolute;
}

.rellax img {
	width: 100%;
}

.rellax.square {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	top: 25%;
	left: 5%;
}

.rellax.circle {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	top: 100px;
	right: 5%;
	display: none;
}

/*SCROLLDOWN ARROW*/
.scrollDown {
	position: absolute;
	bottom: 0;
	z-index: 99;
	width: 100%;
}

.ico {
	margin: 0 auto;
	text-align: center;
	width: 100px;
	height: 100px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%) scale(0.4);
	transform: translateY(-50%) scale(0.4);
	-webkit-transform-origin: bottom;
	-ms-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-filter: url('#goo');
	filter: url('#goo');
}

.ico .circle {
	background: #0e0f10;
	border-radius: 50%;
	display: inline-block;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform-origin: 0%;
	transform-origin: 0%;

	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ico .circle.circle-top {
	height: 33.3333333333px;
	width: 41.6666666667px;
	-webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	z-index: 0;
	top: 0;
}

.ico .circle.circle-bottom {
	height: 33.3333333333px;
	width: 41.6666666667px;
	-webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	z-index: 9;
	bottom: 0px;
}

.ico .st-arrow {
	fill: #ff5a34;
	-webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards
		infinite;
	animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
	-webkit-perspective: 9000px;
	perspective: 9000px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
}

.svg {
	z-index: 9;
	position: relative;
}

@-webkit-keyframes blob-1-anim {
	0% {
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
	}

	14% {
		-webkit-transform: translateX(-50%) translateY(-8px);
		transform: translateX(-50%) translateY(-8px);
	}

	24% {
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
	}

	100% {
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
	}
}

@keyframes blob-1-anim {
	0% {
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
	}

	14% {
		-webkit-transform: translateX(-50%) translateY(-8px);
		transform: translateX(-50%) translateY(-8px);
	}

	24% {
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
	}

	100% {
		-webkit-transform: translateX(-50%) translateY(0);
		transform: translateX(-50%) translateY(0);
	}
}

@-webkit-keyframes blob-2-anim {
	0% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}

	30% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}

	70% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}

	95% {
		-webkit-transform: scale(1) translate(-50%, 26px);
		transform: scale(1) translate(-50%, 26px);
	}

	100% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}
}

@keyframes blob-2-anim {
	0% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}

	30% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}

	70% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}

	95% {
		-webkit-transform: scale(1) translate(-50%, 26px);
		transform: scale(1) translate(-50%, 26px);
	}

	100% {
		-webkit-transform: scale(1) translate(-50%, 10px);
		transform: scale(1) translate(-50%, 10px);
	}
}

@-webkit-keyframes scrolly {
	0% {
		-webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5)
			skewX(3deg);
		transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
	}

	30% {
		-webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
		transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
	}

	70% {
		-webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
		transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
	}

	95% {
		-webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5)
			skewX(-3deg);
		transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
	}

	100% {
		-webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5)
			skewX(-3deg);
		transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
	}
}

@keyframes scrolly {
	0% {
		-webkit-transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5)
			skewX(3deg);
		transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
	}

	30% {
		-webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
		transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
	}

	70% {
		-webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
		transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
	}

	95% {
		-webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5)
			skewX(-3deg);
		transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
	}

	100% {
		-webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5)
			skewX(-3deg);
		transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
	}
}

/*SCROLLDOWN ARROW*/

/* responsive */

@media screen and (max-width: 991px) {
	.about .about-inner {
		flex-direction: column;
	}

	.about .about-inner .about-text {
		margin: 5% -40%;
		width: 100%;
		padding: 30px;
		background-color: transparent;
		color: #ff5a34;
	}

	.homeSection .about-title h2 {
		text-align: center;
	}

	.homeSection .about-title h2 .line {
		visibility: hidden;
	}
}

@media screen and (max-width: 760px) {
	.soc {
		display: none;
	}

	.navbar-header button.navbar-toggle {
		margin: 37px 15px 37px 0;
	}

	nav .container-fuild {
		background-color: black;
	}

	.navbar-brand {
		width: 100px;
	}

	.navbar-brand img {
		width: 50px;
	}

	.navbar-default .navbar-collapse {
		border-color: #ff5a34 !important;
	}

	.navbar-collapse button {
		display: none;
	}

	#banner .bannerText.two {
		display: none;
	}

	.portfolio .grid {
		flex-direction: column;
	}

	.portfolio .grid .grid-column {
		width: 100% !important;
		margin: auto;
	}

	.portfolio .grid .grid-column:nth-child(even) {
		height: 100% !important;
	}

	.portfolio .grid .grid-column:nth-child(even) .grid-block {
		padding-top: 50%s;
	}

	.testimonial .section-inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 480px) {
	.soc {
		display: none;
	}

	.navbar-brand > img {
		display: block;
	}

	#banner .bannerText.two {
		display: none;
	}

	.pageBanner {
		position: relative;
		width: 100%;
		/* margin-bottom: 40px; */
		margin-top: 116px;
	}

	.pageBanner .pageBannerText {
		position: absolute;
		top: 34%;
		left: 0%;
		transform: translateX(0%) translateY(-37%);
		color: #fff;
		/* padding: 10px 10px; */
		text-align: center;
	}

	.navbar-toggle {
		position: relative;
		margin-top: 25px;
	}

	.pageBannerText h1 {
		font-size: 21px;
		color: #ff5a34;
	}

	.pageBanner .pageBannerText p {
		font-size: 70%;
	}
}

/* ----------------------------------------------- */
/* Amigo Services */
/* ----------------------------------------------- */

.homeSection#intro,
.homeSection.about,
.homeSection.services-bg,
.homeSection.talk,
.homeSection.testimonial {
	background: url('../img/Amigos-web-template_01.png') no-repeat center;
	background-size: cover;
}

.services-bg .section-title {
	width: fit-content;
	float: right;
	display: block;
}

.section-title .fa-bars {
	color: #8c7ad2;
}

.head {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	text-transform: uppercase;
	font-size: 32pt;
	color: #ff5a34;
}

.head > * {
	margin-left: 1%;
}

.service-content {
	padding: 2% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.service-content > * {
	width: 30%;
	min-width: 350px;
	padding: 2% 0;
}

.service-content h2 {
	font-size: 32pt;
	color: #ff5a34;
}

.service-content img {
	overflow: hidden;
}

.service-content p {
	font-size: 14px;
}

.service-nav {
	font-size: 18pt;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	color: #6e6d6e;
	cursor: pointer;
}

.service-nav li {
	min-width: fit-content;
	margin: 0 2%;
}

.service-nav li:hover {
	color: #ff5a34;
}

.active {
	display: block;
	color: #ff5a34;
	border-top: 1px solid #ff5a34;
	border-bottom: 1px solid #ff5a34;
}

/* ----------------------------------------------- */
/* Amigo Talk-About-Us */
/* ----------------------------------------------- */

.talk {
	text-align: center;
	color: #ff5a34;
}

.talk-content {
	position: relative;
	padding: 3% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.talk-content img {
	height: 100%;
}

/* Talk - video effects */

.img-container {
	margin: 2% 1%;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	width: 350px;
	height: 350px;
	background: transparent url(../img/person.png) no-repeat center;
	background-size: cover;
}

.haze {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(19, 18, 18, 0.65);
}

:hover > .haze {
	display: none;
}

.haze ~ a,
.grid-block i.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(245, 245, 245, 0.75);
}

.play-button {
	display: block;
	height: 70px;
	width: 70px;
	background: url(../img/Play-Button.png) no-repeat center;
	background-size: cover;
	opacity: 0.75;
}

.tl-shutter {
	position: absolute;
	top: 0;
	left: 0;
	border-top: 350px solid rgba(255, 0, 0, 0.68);
	border-right: 350px solid transparent;
	opacity: 0;
	transition: all 0.5s ease-out;
}

:hover > .haze ~ a ~ .tl-shutter {
	opacity: 1;
	border-top: 0 solid rgba(255, 0, 0, 0.68);
	border-right: 0 solid transparent;
}

.br-shutter {
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 350px solid rgba(255, 0, 0, 0.68);
	border-left: 350px solid transparent;
	opacity: 0;
	transition: all 0.5s ease-out;
}

:hover > .haze ~ a ~ .tl-shutter ~ .br-shutter {
	opacity: 1;
	border-bottom: 0 solid rgba(255, 0, 0, 0.68);
	border-left: 0 solid transparent;
}

#youtubelightbox,
#imagelightbox {
	z-index: 1700;
}

.portfolio .container {
	margin-bottom: 2%;
}

/* ---------------------------------------------------------------
About Us Page
--------------------------------------------------------------- */

.about-us-page .about-us-text:before {
	content: '';
	position: absolute;
	width: 115%;
	padding: 0 100px;
	left: -100px;
	top: 5%;
	height: 100%;
	background-color: rgba(15, 39, 72, 0.5);
	z-index: -1;
}

.about-us-page .about-us-text {
	margin-top: 2%;
	z-index: 1;
}

/* ----------------------------------------------
Our Team
---------------------------------------------- */

.our-team .about-us-text:before {
	content: '';
	position: absolute;
	width: 115%;
	padding: 0 10%;
	margin-top: -5%;
	left: -100px;
	height: 120%;
	background-color: rgba(15, 39, 72, 0.5);
	z-index: -1;
}

.our-team .about-us-text {
	margin: 5% 0;
	z-index: 1;
}

.talk .emp {
	margin: 0 2%;
}

.emp-info {
	color: white;
}

.emp-name {
	font-size: 18pt;
	font-weight: 300;
	margin: 0;
}

.emp-position {
	font-size: 20pt;
	/* font-weight: bold; */
}

.white {
	color: white;
}

/* mobile version cleaning */
