@font-face {
    font-family: 'MaterialDesignIcons';
    src: url("../fonts/materialdesignicons-webfont.eot?v=1.0.62");
    src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=1.0.62") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=1.0.62") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=1.0.62") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=1.0.62") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=1.0.62#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="mdi-"],
[class*=" mdi-"],
.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 MaterialDesignIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0)
}

.mdi-account::before {
    content: "\f101"
}

.mdi-account-alert::before {
    content: "\f102"
}

.mdi-account-box::before {
    content: "\f103"
}

.mdi-account-box-outline::before {
    content: "\f104"
}

.mdi-account-check::before {
    content: "\f105"
}

.mdi-account-circle::before {
    content: "\f106"
}

.mdi-account-key::before {
    content: "\f107"
}

.mdi-account-location::before {
    content: "\f108"
}

.mdi-account-minus::before {
    content: "\f109"
}

.mdi-account-multiple::before {
    content: "\f10a"
}

.mdi-account-multiple-outline::before {
    content: "\f10b"
}

.mdi-account-multiple-plus::before {
    content: "\f10c"
}

.mdi-account-network::before {
    content: "\f10d"
}

.mdi-account-outline::before {
    content: "\f10e"
}

.mdi-account-plus::before {
    content: "\f10f"
}

.mdi-account-remove::before {
    content: "\f110"
}

.mdi-account-search::before {
    content: "\f111"
}

.mdi-account-star::before {
    content: "\f112"
}

.mdi-account-star-variant::before {
    content: "\f113"
}

.mdi-account-switch::before {
    content: "\f114"
}

.mdi-airballoon::before {
    content: "\f115"
}

.mdi-airplane::before {
    content: "\f116"
}

.mdi-airplane-off::before {
    content: "\f117"
}

.mdi-alarm::before {
    content: "\f118"
}

.mdi-alarm-check::before {
    content: "\f119"
}

.mdi-alarm-multiple::before {
    content: "\f11a"
}

.mdi-alarm-off::before {
    content: "\f11b"
}

.mdi-alarm-plus::before {
    content: "\f11c"
}

.mdi-album::before {
    content: "\f11d"
}

.mdi-alert::before {
    content: "\f11e"
}

.mdi-alert-box::before {
    content: "\f11f"
}

.mdi-alert-circle::before {
    content: "\f120"
}

.mdi-alert-octagon::before {
    content: "\f121"
}

.mdi-alpha::before {
    content: "\f122"
}

.mdi-alphabetical::before {
    content: "\f123"
}

.mdi-amazon::before {
    content: "\f124"
}

.mdi-amazon-clouddrive::before {
    content: "\f125"
}

.mdi-ambulance::before {
    content: "\f126"
}

.mdi-android::before {
    content: "\f127"
}

.mdi-android-debug-bridge::before {
    content: "\f128"
}

.mdi-android-studio::before {
    content: "\f129"
}

.mdi-apple::before {
    content: "\f12a"
}

.mdi-apple-finder::before {
    content: "\f12b"
}

.mdi-apple-mobileme::before {
    content: "\f12c"
}

.mdi-apple-safari::before {
    content: "\f12d"
}

.mdi-appnet::before {
    content: "\f12e"
}

.mdi-apps::before {
    content: "\f12f"
}

.mdi-archive::before {
    content: "\f130"
}

.mdi-arrange-bring-forward::before {
    content: "\f131"
}

.mdi-arrange-bring-to-front::before {
    content: "\f132"
}

.mdi-arrange-send-backward::before {
    content: "\f133"
}

.mdi-arrange-send-to-back::before {
    content: "\f134"
}

.mdi-arrow-collapse::before {
    content: "\f135"
}

.mdi-arrow-down::before {
    content: "\f136"
}

.mdi-arrow-down-bold::before {
    content: "\f137"
}

.mdi-arrow-down-bold-circle::before {
    content: "\f138"
}

.mdi-arrow-down-bold-circle-outline::before {
    content: "\f139"
}

.mdi-arrow-down-bold-hexagon-outline::before {
    content: "\f13a"
}

.mdi-arrow-expand::before {
    content: "\f13b"
}

.mdi-arrow-left::before {
    content: "\f13c"
}

.mdi-arrow-left-bold::before {
    content: "\f13d"
}

.mdi-arrow-left-bold-circle::before {
    content: "\f13e"
}

.mdi-arrow-left-bold-circle-outline::before {
    content: "\f13f"
}

.mdi-arrow-left-bold-hexagon-outline::before {
    content: "\f140"
}

.mdi-arrow-right::before {
    content: "\f141"
}

.mdi-arrow-right-bold::before {
    content: "\f142"
}

.mdi-arrow-right-bold-circle::before {
    content: "\f143"
}

.mdi-arrow-right-bold-circle-outline::before {
    content: "\f144"
}

.mdi-arrow-right-bold-hexagon-outline::before {
    content: "\f145"
}

.mdi-arrow-up::before {
    content: "\f146"
}

.mdi-arrow-up-bold::before {
    content: "\f147"
}

.mdi-arrow-up-bold-circle::before {
    content: "\f148"
}

.mdi-arrow-up-bold-circle-outline::before {
    content: "\f149"
}

.mdi-arrow-up-bold-hexagon-outline::before {
    content: "\f14a"
}

.mdi-attachment::before {
    content: "\f14b"
}

.mdi-auto-fix::before {
    content: "\f14c"
}

.mdi-auto-upload::before {
    content: "\f14d"
}

.mdi-backup-restore::before {
    content: "\f14e"
}

.mdi-bank::before {
    content: "\f14f"
}

.mdi-barcode::before {
    content: "\f150"
}

.mdi-barley::before {
    content: "\f151"
}

.mdi-barrel::before {
    content: "\f152"
}

.mdi-basecamp::before {
    content: "\f153"
}

.mdi-basket::before {
    content: "\f154"
}

.mdi-basket-fill::before {
    content: "\f155"
}

.mdi-basket-unfill::before {
    content: "\f156"
}

.mdi-battery::before {
    content: "\f157"
}

.mdi-battery-20::before {
    content: "\f158"
}

.mdi-battery-30::before {
    content: "\f159"
}

.mdi-battery-40::before {
    content: "\f15a"
}

.mdi-battery-60::before {
    content: "\f15b"
}

.mdi-battery-80::before {
    content: "\f15c"
}

.mdi-battery-90::before {
    content: "\f15d"
}

.mdi-battery-alert::before {
    content: "\f15e"
}

.mdi-battery-charging-100::before {
    content: "\f15f"
}

.mdi-battery-charging-20::before {
    content: "\f160"
}

.mdi-battery-charging-30::before {
    content: "\f161"
}

.mdi-battery-charging-40::before {
    content: "\f162"
}

.mdi-battery-charging-60::before {
    content: "\f163"
}

.mdi-battery-charging-80::before {
    content: "\f164"
}

.mdi-battery-charging-90::before {
    content: "\f165"
}

.mdi-battery-minus::before {
    content: "\f166"
}

.mdi-battery-negative::before {
    content: "\f167"
}

.mdi-battery-outline::before {
    content: "\f168"
}

.mdi-battery-plus::before {
    content: "\f169"
}

.mdi-battery-positive::before {
    content: "\f16a"
}

.mdi-battery-unknown::before {
    content: "\f16b"
}

.mdi-beaker::before {
    content: "\f16c"
}

.mdi-beaker-empty::before {
    content: "\f16d"
}

.mdi-beaker-empty-outline::before {
    content: "\f16e"
}

.mdi-beaker-outline::before {
    content: "\f16f"
}

.mdi-beats::before {
    content: "\f170"
}

.mdi-beer::before {
    content: "\f171"
}

.mdi-behance::before {
    content: "\f172"
}

.mdi-bell::before {
    content: "\f173"
}

.mdi-bell-off::before {
    content: "\f174"
}

.mdi-bell-outline::before {
    content: "\f175"
}

.mdi-bell-ring::before {
    content: "\f176"
}

.mdi-bell-ring-outline::before {
    content: "\f177"
}

.mdi-bell-sleep::before {
    content: "\f178"
}

.mdi-beta::before {
    content: "\f179"
}

.mdi-bike::before {
    content: "\f17a"
}

.mdi-bing::before {
    content: "\f17b"
}

.mdi-bio::before {
    content: "\f17c"
}

.mdi-biohazard::before {
    content: "\f17d"
}

.mdi-blackberry::before {
    content: "\f17e"
}

.mdi-blinds::before {
    content: "\f17f"
}

.mdi-block-helper::before {
    content: "\f180"
}

.mdi-blogger::before {
    content: "\f181"
}

.mdi-bluetooth::before {
    content: "\f182"
}

.mdi-bluetooth-audio::before {
    content: "\f183"
}

.mdi-bluetooth-connect::before {
    content: "\f184"
}

.mdi-bluetooth-settings::before {
    content: "\f185"
}

.mdi-blur::before {
    content: "\f186"
}

.mdi-blur-linear::before {
    content: "\f187"
}

.mdi-blur-off::before {
    content: "\f188"
}

.mdi-blur-radial::before {
    content: "\f189"
}

.mdi-book::before {
    content: "\f18a"
}

.mdi-book-multiple::before {
    content: "\f18b"
}

.mdi-book-multiple-variant::before {
    content: "\f18c"
}

.mdi-book-open::before {
    content: "\f18d"
}

.mdi-book-variant::before {
    content: "\f18e"
}

.mdi-bookmark::before {
    content: "\f18f"
}

.mdi-bookmark-outline::before {
    content: "\f190"
}

.mdi-border-all::before {
    content: "\f191"
}

.mdi-border-bottom::before {
    content: "\f192"
}

.mdi-border-color::before {
    content: "\f193"
}

.mdi-border-horizontal::before {
    content: "\f194"
}

.mdi-border-inside::before {
    content: "\f195"
}

.mdi-border-left::before {
    content: "\f196"
}

.mdi-border-none::before {
    content: "\f197"
}

.mdi-border-outside::before {
    content: "\f198"
}

.mdi-border-right::before {
    content: "\f199"
}

.mdi-border-top::before {
    content: "\f19a"
}

.mdi-border-vertical::before {
    content: "\f19b"
}

.mdi-bowling::before {
    content: "\f19c"
}

.mdi-box::before {
    content: "\f19d"
}

.mdi-briefcase::before {
    content: "\f19e"
}

.mdi-briefcase-check::before {
    content: "\f19f"
}

.mdi-briefcase-download::before {
    content: "\f1a0"
}

.mdi-briefcase-upload::before {
    content: "\f1a1"
}

.mdi-brightness-1::before {
    content: "\f1a2"
}

.mdi-brightness-2::before {
    content: "\f1a3"
}

.mdi-brightness-3::before {
    content: "\f1a4"
}

.mdi-brightness-4::before {
    content: "\f1a5"
}

.mdi-brightness-5::before {
    content: "\f1a6"
}

.mdi-brightness-6::before {
    content: "\f1a7"
}

.mdi-brightness-7::before {
    content: "\f1a8"
}

.mdi-brightness-auto::before {
    content: "\f1a9"
}

.mdi-broom::before {
    content: "\f1aa"
}

.mdi-brush::before {
    content: "\f1ab"
}

.mdi-bug::before {
    content: "\f1ac"
}

.mdi-bullhorn::before {
    content: "\f1ad"
}

.mdi-bus::before {
    content: "\f1ae"
}

.mdi-cake::before {
    content: "\f1af"
}

.mdi-cake-variant::before {
    content: "\f1b0"
}

.mdi-calculator::before {
    content: "\f1b1"
}

.mdi-calendar::before {
    content: "\f1b2"
}

.mdi-calendar-blank::before {
    content: "\f1b3"
}

.mdi-calendar-check::before {
    content: "\f1b4"
}

.mdi-calendar-multiple::before {
    content: "\f1b5"
}

.mdi-calendar-multiple-check::before {
    content: "\f1b6"
}

.mdi-calendar-remove::before {
    content: "\f1b7"
}

.mdi-calendar-text::before {
    content: "\f1b8"
}

.mdi-calendar-today::before {
    content: "\f1b9"
}

.mdi-camcorder::before {
    content: "\f1ba"
}

.mdi-camcorder-box::before {
    content: "\f1bb"
}

.mdi-camcorder-box-off::before {
    content: "\f1bc"
}

.mdi-camcorder-off::before {
    content: "\f1bd"
}

.mdi-camera::before {
    content: "\f1be"
}

.mdi-camera-iris::before {
    content: "\f1bf"
}

.mdi-camera-party-mode::before {
    content: "\f1c0"
}

.mdi-camera-switch::before {
    content: "\f1c1"
}

.mdi-camera-timer::before {
    content: "\f1c2"
}

.mdi-candycane::before {
    content: "\f1c3"
}

.mdi-car::before {
    content: "\f1c4"
}

.mdi-car-wash::before {
    content: "\f1c5"
}

.mdi-carrot::before {
    content: "\f1c6"
}

.mdi-cart::before {
    content: "\f1c7"
}

.mdi-cart-outline::before {
    content: "\f1c8"
}

.mdi-cash::before {
    content: "\f1c9"
}

.mdi-cast::before {
    content: "\f1ca"
}

.mdi-cast-connected::before {
    content: "\f1cb"
}

.mdi-castle::before {
    content: "\f1cc"
}

.mdi-cellphone::before {
    content: "\f1cd"
}

.mdi-cellphone-android::before {
    content: "\f1ce"
}

.mdi-cellphone-dock::before {
    content: "\f1cf"
}

.mdi-cellphone-iphone::before {
    content: "\f1d0"
}

.mdi-cellphone-link::before {
    content: "\f1d1"
}

.mdi-cellphone-link-off::before {
    content: "\f1d2"
}

.mdi-cellphone-settings::before {
    content: "\f1d3"
}

.mdi-chair-school::before {
    content: "\f1d4"
}

.mdi-chart-arc::before {
    content: "\f1d5"
}

.mdi-chart-bar::before {
    content: "\f1d6"
}

.mdi-chart-histogram::before {
    content: "\f1d7"
}

.mdi-chart-line::before {
    content: "\f1d8"
}

.mdi-chart-pie::before {
    content: "\f1d9"
}

.mdi-check::before {
    content: "\f1da"
}

.mdi-check-all::before {
    content: "\f1db"
}

.mdi-checkbox-blank::before {
    content: "\f1dc"
}

.mdi-checkbox-blank-circle::before {
    content: "\f1dd"
}

.mdi-checkbox-blank-circle-outline::before {
    content: "\f1de"
}

.mdi-checkbox-blank-outline::before {
    content: "\f1df"
}

.mdi-checkbox-marked::before {
    content: "\f1e0"
}

.mdi-checkbox-marked-circle::before {
    content: "\f1e1"
}

.mdi-checkbox-marked-circle-outline::before {
    content: "\f1e2"
}

.mdi-checkbox-marked-outline::before {
    content: "\f1e3"
}

.mdi-checkbox-multiple-blank::before {
    content: "\f1e4"
}

.mdi-checkbox-multiple-blank-outline::before {
    content: "\f1e5"
}

.mdi-checkbox-multiple-marked::before {
    content: "\f1e6"
}

.mdi-checkbox-multiple-marked-outline::before {
    content: "\f1e7"
}

.mdi-checkerboard::before {
    content: "\f1e8"
}

.mdi-chevron-double-down::before {
    content: "\f1e9"
}

.mdi-chevron-double-left::before {
    content: "\f1ea"
}

.mdi-chevron-double-right::before {
    content: "\f1eb"
}

.mdi-chevron-double-up::before {
    content: "\f1ec"
}

.mdi-chevron-down::before {
    content: "\f1ed"
}

.mdi-chevron-left::before {
    content: "\f1ee"
}

.mdi-chevron-right::before {
    content: "\f1ef"
}

.mdi-chevron-up::before {
    content: "\f1f0"
}

.mdi-church::before {
    content: "\f1f1"
}

.mdi-city::before {
    content: "\f1f2"
}

.mdi-clipboard::before {
    content: "\f1f3"
}

.mdi-clipboard-account::before {
    content: "\f1f4"
}

.mdi-clipboard-alert::before {
    content: "\f1f5"
}

.mdi-clipboard-arrow-down::before {
    content: "\f1f6"
}

.mdi-clipboard-arrow-left::before {
    content: "\f1f7"
}

.mdi-clipboard-check::before {
    content: "\f1f8"
}

.mdi-clipboard-outline::before {
    content: "\f1f9"
}

.mdi-clipboard-text::before {
    content: "\f1fa"
}

.mdi-clippy::before {
    content: "\f1fb"
}

.mdi-clock::before {
    content: "\f1fc"
}

.mdi-clock-fast::before {
    content: "\f1fd"
}

.mdi-close::before {
    content: "\f1fe"
}

.mdi-close-box::before {
    content: "\f1ff"
}

.mdi-close-box-outline::before {
    content: "\f200"
}

.mdi-close-circle::before {
    content: "\f201"
}

.mdi-close-circle-outline::before {
    content: "\f202"
}

.mdi-close-network::before {
    content: "\f203"
}

.mdi-closed-caption::before {
    content: "\f204"
}

.mdi-cloud::before {
    content: "\f205"
}

.mdi-cloud-check::before {
    content: "\f206"
}

.mdi-cloud-circle::before {
    content: "\f207"
}

.mdi-cloud-download::before {
    content: "\f208"
}

.mdi-cloud-outline::before {
    content: "\f209"
}

.mdi-cloud-outline-off::before {
    content: "\f20a"
}

.mdi-cloud-upload::before {
    content: "\f20b"
}

.mdi-code-array::before {
    content: "\f20c"
}

.mdi-code-string::before {
    content: "\f20d"
}

.mdi-coffee::before {
    content: "\f20e"
}

.mdi-coffee-to-go::before {
    content: "\f20f"
}

.mdi-coin::before {
    content: "\f210"
}

.mdi-color-helper::before {
    content: "\f211"
}

.mdi-comment::before {
    content: "\f212"
}

.mdi-comment-account::before {
    content: "\f213"
}

.mdi-comment-account-outline::before {
    content: "\f214"
}

.mdi-comment-alert::before {
    content: "\f215"
}

.mdi-comment-alert-outline::before {
    content: "\f216"
}

.mdi-comment-check::before {
    content: "\f217"
}

.mdi-comment-check-outline::before {
    content: "\f218"
}

.mdi-comment-multiple-outline::before {
    content: "\f219"
}

.mdi-comment-outline::before {
    content: "\f21a"
}

.mdi-comment-plus-outline::before {
    content: "\f21b"
}

.mdi-comment-processing::before {
    content: "\f21c"
}

.mdi-comment-processing-outline::before {
    content: "\f21d"
}

.mdi-comment-remove-outline::before {
    content: "\f21e"
}

.mdi-comment-text::before {
    content: "\f21f"
}

.mdi-comment-text-outline::before {
    content: "\f220"
}

.mdi-compare::before {
    content: "\f221"
}

.mdi-compass::before {
    content: "\f222"
}

.mdi-compass-outline::before {
    content: "\f223"
}

.mdi-console::before {
    content: "\f224"
}

.mdi-content-copy::before {
    content: "\f225"
}

.mdi-content-cut::before {
    content: "\f226"
}

.mdi-content-paste::before {
    content: "\f227"
}

.mdi-content-save::before {
    content: "\f228"
}

.mdi-content-save-all::before {
    content: "\f229"
}

.mdi-contrast::before {
    content: "\f22a"
}

.mdi-contrast-box::before {
    content: "\f22b"
}

.mdi-contrast-circle::before {
    content: "\f22c"
}

.mdi-cow::before {
    content: "\f22d"
}

.mdi-credit-card::before {
    content: "\f22e"
}

.mdi-credit-card-multiple::before {
    content: "\f22f"
}

.mdi-crop::before {
    content: "\f230"
}

.mdi-crop-free::before {
    content: "\f231"
}

.mdi-crop-landscape::before {
    content: "\f232"
}

.mdi-crop-portrait::before {
    content: "\f233"
}

.mdi-crop-square::before {
    content: "\f234"
}

.mdi-crosshairs::before {
    content: "\f235"
}

.mdi-crosshairs-gps::before {
    content: "\f236"
}

.mdi-cube::before {
    content: "\f237"
}

.mdi-cube-outline::before {
    content: "\f238"
}

.mdi-cube-unfolded::before {
    content: "\f239"
}

.mdi-cup::before {
    content: "\f23a"
}

.mdi-cup-water::before {
    content: "\f23b"
}

.mdi-currency-btc::before {
    content: "\f23c"
}

.mdi-currency-eur::before {
    content: "\f23d"
}

.mdi-currency-gbp::before {
    content: "\f23e"
}

.mdi-currency-usd::before {
    content: "\f23f"
}

.mdi-cursor-default::before {
    content: "\f240"
}

.mdi-cursor-default-outline::before {
    content: "\f241"
}

.mdi-cursor-pointer::before {
    content: "\f242"
}

.mdi-database::before {
    content: "\f243"
}

.mdi-database-minus::before {
    content: "\f244"
}

.mdi-database-outline::before {
    content: "\f245"
}

.mdi-database-plus::before {
    content: "\f246"
}

.mdi-debug-step-into::before {
    content: "\f247"
}

.mdi-debug-step-out::before {
    content: "\f248"
}

.mdi-debug-step-over::before {
    content: "\f249"
}

.mdi-delete::before {
    content: "\f24a"
}

.mdi-delete-variant::before {
    content: "\f24b"
}

.mdi-deskphone::before {
    content: "\f24c"
}

.mdi-desktop-mac::before {
    content: "\f24d"
}

.mdi-desktop-tower::before {
    content: "\f24e"
}

.mdi-details::before {
    content: "\f24f"
}

.mdi-deviantart::before {
    content: "\f250"
}

.mdi-dice::before {
    content: "\f251"
}

.mdi-dice-1::before {
    content: "\f252"
}

.mdi-dice-2::before {
    content: "\f253"
}

.mdi-dice-3::before {
    content: "\f254"
}

.mdi-dice-4::before {
    content: "\f255"
}

.mdi-dice-5::before {
    content: "\f256"
}

.mdi-dice-6::before {
    content: "\f257"
}

.mdi-directions::before {
    content: "\f258"
}

.mdi-disk-alert::before {
    content: "\f259"
}

.mdi-disqus::before {
    content: "\f25a"
}

.mdi-disqus-outline::before {
    content: "\f25b"
}

.mdi-division::before {
    content: "\f25c"
}

.mdi-division-box::before {
    content: "\f25d"
}

.mdi-dns::before {
    content: "\f25e"
}

.mdi-domain::before {
    content: "\f25f"
}

.mdi-dots-horizontal::before {
    content: "\f260"
}

.mdi-dots-vertical::before {
    content: "\f261"
}

.mdi-download::before {
    content: "\f262"
}

.mdi-drawing::before {
    content: "\f263"
}

.mdi-drawing-box::before {
    content: "\f264"
}

.mdi-dribbble::before {
    content: "\f265"
}

.mdi-dribbble-box::before {
    content: "\f266"
}

.mdi-drone::before {
    content: "\f267"
}

.mdi-dropbox::before {
    content: "\f268"
}

.mdi-duck::before {
    content: "\f269"
}

.mdi-dumbbell::before {
    content: "\f26a"
}

.mdi-earth::before {
    content: "\f26b"
}

.mdi-earth-off::before {
    content: "\f26c"
}

.mdi-elevation-decline::before {
    content: "\f26d"
}

.mdi-elevation-rise::before {
    content: "\f26e"
}

.mdi-email::before {
    content: "\f26f"
}

.mdi-email-open::before {
    content: "\f270"
}

.mdi-email-outline::before {
    content: "\f271"
}

.mdi-emoticon::before {
    content: "\f272"
}

.mdi-emoticon-cool::before {
    content: "\f273"
}

.mdi-emoticon-devil::before {
    content: "\f274"
}

.mdi-emoticon-happy::before {
    content: "\f275"
}

.mdi-emoticon-neutral::before {
    content: "\f276"
}

.mdi-emoticon-poop::before {
    content: "\f277"
}

.mdi-emoticon-sad::before {
    content: "\f278"
}

.mdi-emoticon-tongue::before {
    content: "\f279"
}

.mdi-equal::before {
    content: "\f27a"
}

.mdi-equal-box::before {
    content: "\f27b"
}

.mdi-eraser::before {
    content: "\f27c"
}

.mdi-escalator::before {
    content: "\f27d"
}

.mdi-etsy::before {
    content: "\f27e"
}

.mdi-evernote::before {
    content: "\f27f"
}

.mdi-exit-to-app::before {
    content: "\f280"
}

.mdi-eye::before {
    content: "\f281"
}

.mdi-eye-off::before {
    content: "\f282"
}

.mdi-eyedropper::before {
    content: "\f283"
}

.mdi-eyedropper-variant::before {
    content: "\f284"
}

.mdi-facebook::before {
    content: "\f285"
}

.mdi-facebook-box::before {
    content: "\f286"
}

.mdi-facebook-messenger::before {
    content: "\f287"
}

.mdi-factory::before {
    content: "\f288"
}

.mdi-fan::before {
    content: "\f289"
}

.mdi-fast-forward::before {
    content: "\f28a"
}

.mdi-ferry::before {
    content: "\f28b"
}

.mdi-file::before {
    content: "\f28c"
}

.mdi-file-cloud::before {
    content: "\f28d"
}

.mdi-file-delimited::before {
    content: "\f28e"
}

.mdi-file-document::before {
    content: "\f28f"
}

.mdi-file-document-box::before {
    content: "\f290"
}

.mdi-file-excel::before {
    content: "\f291"
}

.mdi-file-excel-box::before {
    content: "\f292"
}

.mdi-file-find::before {
    content: "\f293"
}

.mdi-file-image::before {
    content: "\f294"
}

.mdi-file-image-box::before {
    content: "\f295"
}

.mdi-file-music::before {
    content: "\f296"
}

.mdi-file-outline::before {
    content: "\f297"
}

.mdi-file-pdf::before {
    content: "\f298"
}

.mdi-file-pdf-box::before {
    content: "\f299"
}

.mdi-file-powerpoint::before {
    content: "\f29a"
}

.mdi-file-powerpoint-box::before {
    content: "\f29b"
}

.mdi-file-presentation-box::before {
    content: "\f29c"
}

.mdi-file-video::before {
    content: "\f29d"
}

.mdi-file-word::before {
    content: "\f29e"
}

.mdi-file-word-box::before {
    content: "\f29f"
}

.mdi-film::before {
    content: "\f2a0"
}

.mdi-filmstrip::before {
    content: "\f2a1"
}

.mdi-filmstrip-off::before {
    content: "\f2a2"
}

.mdi-filter::before {
    content: "\f2a3"
}

.mdi-filter-outline::before {
    content: "\f2a4"
}

.mdi-filter-remove::before {
    content: "\f2a5"
}

.mdi-filter-remove-outline::before {
    content: "\f2a6"
}

.mdi-filter-variant::before {
    content: "\f2a7"
}

.mdi-fire::before {
    content: "\f2a8"
}

.mdi-firefox::before {
    content: "\f2a9"
}

.mdi-fish::before {
    content: "\f2aa"
}

.mdi-flag::before {
    content: "\f2ab"
}

.mdi-flag-checkered::before {
    content: "\f2ac"
}

.mdi-flag-outline::before {
    content: "\f2ad"
}

.mdi-flag-outline-variant::before {
    content: "\f2ae"
}

.mdi-flag-variant::before {
    content: "\f2af"
}

.mdi-flash::before {
    content: "\f2b0"
}

.mdi-flash-auto::before {
    content: "\f2b1"
}

.mdi-flash-off::before {
    content: "\f2b2"
}

.mdi-flashlight::before {
    content: "\f2b3"
}

.mdi-flashlight-off::before {
    content: "\f2b4"
}

.mdi-flip-to-back::before {
    content: "\f2b5"
}

.mdi-flip-to-front::before {
    content: "\f2b6"
}

.mdi-floppy::before {
    content: "\f2b7"
}

.mdi-flower::before {
    content: "\f2b8"
}

.mdi-folder::before {
    content: "\f2b9"
}

.mdi-folder-account::before {
    content: "\f2ba"
}

.mdi-folder-google-drive::before {
    content: "\f2bb"
}

.mdi-folder-image::before {
    content: "\f2bc"
}

.mdi-folder-move::before {
    content: "\f2bd"
}

.mdi-folder-multiple::before {
    content: "\f2be"
}

.mdi-folder-multiple-image::before {
    content: "\f2bf"
}

.mdi-folder-multiple-outline::before {
    content: "\f2c0"
}

.mdi-folder-outline::before {
    content: "\f2c1"
}

.mdi-folder-plus::before {
    content: "\f2c2"
}

.mdi-folder-remove::before {
    content: "\f2c3"
}

.mdi-food::before {
    content: "\f2c4"
}

.mdi-food-apple::before {
    content: "\f2c5"
}

.mdi-food-variant::before {
    content: "\f2c6"
}

.mdi-format-align-center::before {
    content: "\f2c7"
}

.mdi-format-align-justify::before {
    content: "\f2c8"
}

.mdi-format-align-left::before {
    content: "\f2c9"
}

.mdi-format-align-right::before {
    content: "\f2ca"
}

.mdi-format-bold::before {
    content: "\f2cb"
}

.mdi-format-clear::before {
    content: "\f2cc"
}

.mdi-format-color-fill::before {
    content: "\f2cd"
}

.mdi-format-header-1::before {
    content: "\f2ce"
}

.mdi-format-header-2::before {
    content: "\f2cf"
}

.mdi-format-header-3::before {
    content: "\f2d0"
}

.mdi-format-header-4::before {
    content: "\f2d1"
}

.mdi-format-header-5::before {
    content: "\f2d2"
}

.mdi-format-header-6::before {
    content: "\f2d3"
}

.mdi-format-header-pound::before {
    content: "\f2d4"
}

.mdi-format-indent-decrease::before {
    content: "\f2d5"
}

.mdi-format-indent-increase::before {
    content: "\f2d6"
}

.mdi-format-italic::before {
    content: "\f2d7"
}

.mdi-format-line-spacing::before {
    content: "\f2d8"
}

.mdi-format-list-bulleted::before {
    content: "\f2d9"
}

.mdi-format-list-numbers::before {
    content: "\f2da"
}

.mdi-format-paint::before {
    content: "\f2db"
}

.mdi-format-paragraph::before {
    content: "\f2dc"
}

.mdi-format-quote::before {
    content: "\f2dd"
}

.mdi-format-size::before {
    content: "\f2de"
}

.mdi-format-strikethrough::before {
    content: "\f2df"
}

.mdi-format-subscript::before {
    content: "\f2e0"
}

.mdi-format-superscript::before {
    content: "\f2e1"
}

.mdi-format-textdirection-l-to-r::before {
    content: "\f2e2"
}

.mdi-format-textdirection-r-to-l::before {
    content: "\f2e3"
}

.mdi-format-underline::before {
    content: "\f2e4"
}

.mdi-forum::before {
    content: "\f2e5"
}

.mdi-forward::before {
    content: "\f2e6"
}

.mdi-foursquare::before {
    content: "\f2e7"
}

.mdi-fridge::before {
    content: "\f2e8"
}

.mdi-fullscreen::before {
    content: "\f2e9"
}

.mdi-fullscreen-exit::before {
    content: "\f2ea"
}

.mdi-function::before {
    content: "\f2eb"
}

.mdi-gamepad::before {
    content: "\f2ec"
}

.mdi-gamepad-variant::before {
    content: "\f2ed"
}

.mdi-gas-station::before {
    content: "\f2ee"
}

.mdi-gavel::before {
    content: "\f2ef"
}

.mdi-gender-female::before {
    content: "\f2f0"
}

.mdi-gender-male::before {
    content: "\f2f1"
}

.mdi-gender-transgender::before {
    content: "\f2f2"
}

.mdi-gift::before {
    content: "\f2f3"
}

.mdi-github-box::before {
    content: "\f2f4"
}

.mdi-github-circle::before {
    content: "\f2f5"
}

.mdi-glass-flute::before {
    content: "\f2f6"
}

.mdi-glass-mug::before {
    content: "\f2f7"
}

.mdi-glass-stange::before {
    content: "\f2f8"
}

.mdi-glass-tulip::before {
    content: "\f2f9"
}

.mdi-gmail::before {
    content: "\f2fa"
}

.mdi-google::before {
    content: "\f2fb"
}

.mdi-google-chrome::before {
    content: "\f2fc"
}

.mdi-google-circles::before {
    content: "\f2fd"
}

.mdi-google-circles-communities::before {
    content: "\f2fe"
}

.mdi-google-circles-extended::before {
    content: "\f2ff"
}

.mdi-google-circles-group::before {
    content: "\f300"
}

.mdi-google-controller::before {
    content: "\f301"
}

.mdi-google-controller-off::before {
    content: "\f302"
}

.mdi-google-drive::before {
    content: "\f303"
}

.mdi-google-earth::before {
    content: "\f304"
}

.mdi-google-glass::before {
    content: "\f305"
}

.mdi-google-maps::before {
    content: "\f306"
}

.mdi-google-pages::before {
    content: "\f307"
}

.mdi-google-play::before {
    content: "\f308"
}

.mdi-google-plus::before {
    content: "\f309"
}

.mdi-google-plus-box::before {
    content: "\f30a"
}

.mdi-guitar-pick::before {
    content: "\f30b"
}

.mdi-guitar-pick-outline::before {
    content: "\f30c"
}

.mdi-hand-pointing-right::before {
    content: "\f30d"
}

.mdi-hanger::before {
    content: "\f30e"
}

.mdi-hangouts::before {
    content: "\f30f"
}

.mdi-harddisk::before {
    content: "\f310"
}

.mdi-headphones::before {
    content: "\f311"
}

.mdi-headphones-box::before {
    content: "\f312"
}

.mdi-headphones-settings::before {
    content: "\f313"
}

.mdi-headset::before {
    content: "\f314"
}

.mdi-headset-dock::before {
    content: "\f315"
}

.mdi-heart::before {
    content: "\f316"
}

.mdi-heart-box::before {
    content: "\f317"
}

.mdi-heart-box-outline::before {
    content: "\f318"
}

.mdi-heart-broken::before {
    content: "\f319"
}

.mdi-heart-outline::before {
    content: "\f31a"
}

.mdi-help::before {
    content: "\f31b"
}

.mdi-help-circle::before {
    content: "\f31c"
}

.mdi-hexagon::before {
    content: "\f31d"
}

.mdi-hexagon-outline::before {
    content: "\f31e"
}

.mdi-history::before {
    content: "\f31f"
}

.mdi-home::before {
    content: "\f320"
}

.mdi-home-modern::before {
    content: "\f321"
}

.mdi-home-variant::before {
    content: "\f322"
}

.mdi-hops::before {
    content: "\f323"
}

.mdi-hospital::before {
    content: "\f324"
}

.mdi-hospital-building::before {
    content: "\f325"
}

.mdi-hospital-marker::before {
    content: "\f326"
}

.mdi-hotel::before {
    content: "\f327"
}

.mdi-houzz::before {
    content: "\f328"
}

.mdi-houzz-box::before {
    content: "\f329"
}

.mdi-human::before {
    content: "\f32a"
}

.mdi-human-child::before {
    content: "\f32b"
}

.mdi-human-male-female::before {
    content: "\f32c"
}

.mdi-image-album::before {
    content: "\f32d"
}

.mdi-image-area::before {
    content: "\f32e"
}

.mdi-image-area-close::before {
    content: "\f32f"
}

.mdi-image-filter::before {
    content: "\f330"
}

.mdi-image-filter-black-white::before {
    content: "\f331"
}

.mdi-image-filter-center-focus::before {
    content: "\f332"
}

.mdi-image-filter-drama::before {
    content: "\f333"
}

.mdi-image-filter-frames::before {
    content: "\f334"
}

.mdi-image-filter-hdr::before {
    content: "\f335"
}

.mdi-image-filter-none::before {
    content: "\f336"
}

.mdi-image-filter-tilt-shift::before {
    content: "\f337"
}

.mdi-image-filter-vintage::before {
    content: "\f338"
}

.mdi-information::before {
    content: "\f339"
}

.mdi-information-outline::before {
    content: "\f33a"
}

.mdi-instagram::before {
    content: "\f33b"
}

.mdi-instapaper::before {
    content: "\f33c"
}

.mdi-internet-explorer::before {
    content: "\f33d"
}

.mdi-invert-colors::before {
    content: "\f33e"
}

.mdi-jira::before {
    content: "\f33f"
}

.mdi-keg::before {
    content: "\f340"
}

.mdi-key::before {
    content: "\f341"
}

.mdi-key-change::before {
    content: "\f342"
}

.mdi-key-minus::before {
    content: "\f343"
}

.mdi-key-plus::before {
    content: "\f344"
}

.mdi-key-remove::before {
    content: "\f345"
}

.mdi-key-variant::before {
    content: "\f346"
}

.mdi-keyboard::before {
    content: "\f347"
}

.mdi-keyboard-backspace::before {
    content: "\f348"
}

.mdi-keyboard-caps::before {
    content: "\f349"
}

.mdi-keyboard-close::before {
    content: "\f34a"
}

.mdi-keyboard-off::before {
    content: "\f34b"
}

.mdi-keyboard-return::before {
    content: "\f34c"
}

.mdi-keyboard-tab::before {
    content: "\f34d"
}

.mdi-label::before {
    content: "\f34e"
}

.mdi-label-outline::before {
    content: "\f34f"
}

.mdi-language-csharp::before {
    content: "\f350"
}

.mdi-language-css3::before {
    content: "\f351"
}

.mdi-language-html5::before {
    content: "\f352"
}

.mdi-language-javascript::before {
    content: "\f353"
}

.mdi-language-python::before {
    content: "\f354"
}

.mdi-language-python-text::before {
    content: "\f355"
}

.mdi-laptop::before {
    content: "\f356"
}

.mdi-laptop-chromebook::before {
    content: "\f357"
}

.mdi-laptop-mac::before {
    content: "\f358"
}

.mdi-laptop-windows::before {
    content: "\f359"
}

.mdi-lastfm::before {
    content: "\f35a"
}

.mdi-launch::before {
    content: "\f35b"
}

.mdi-layers::before {
    content: "\f35c"
}

.mdi-layers-off::before {
    content: "\f35d"
}

.mdi-leaf::before {
    content: "\f35e"
}

.mdi-library::before {
    content: "\f35f"
}

.mdi-library-books::before {
    content: "\f360"
}

.mdi-library-music::before {
    content: "\f361"
}

.mdi-library-plus::before {
    content: "\f362"
}

.mdi-lightbulb::before {
    content: "\f363"
}

.mdi-link::before {
    content: "\f364"
}

.mdi-link-variant::before {
    content: "\f365"
}

.mdi-linkedin::before {
    content: "\f366"
}

.mdi-linux::before {
    content: "\f367"
}

.mdi-lock::before {
    content: "\f368"
}

.mdi-lock-open::before {
    content: "\f369"
}

.mdi-lock-open-outline::before {
    content: "\f36a"
}

.mdi-lock-outline::before {
    content: "\f36b"
}

.mdi-login::before {
    content: "\f36c"
}

.mdi-logout::before {
    content: "\f36d"
}

.mdi-looks::before {
    content: "\f36e"
}

.mdi-loupe::before {
    content: "\f36f"
}

.mdi-lumx::before {
    content: "\f370"
}

.mdi-magnify::before {
    content: "\f371"
}

.mdi-magnify-minus::before {
    content: "\f372"
}

.mdi-magnify-plus::before {
    content: "\f373"
}

.mdi-map::before {
    content: "\f374"
}

.mdi-map-marker::before {
    content: "\f375"
}

.mdi-map-marker-circle::before {
    content: "\f376"
}

.mdi-map-marker-multiple::before {
    content: "\f377"
}

.mdi-map-marker-off::before {
    content: "\f378"
}

.mdi-map-marker-radius::before {
    content: "\f379"
}

.mdi-markdown::before {
    content: "\f37a"
}

.mdi-marker-check::before {
    content: "\f37b"
}

.mdi-martini::before {
    content: "\f37c"
}

.mdi-material-ui::before {
    content: "\f37d"
}

.mdi-math-compass::before {
    content: "\f37e"
}

.mdi-memory::before {
    content: "\f37f"
}

.mdi-menu::before {
    content: "\f380"
}

.mdi-menu-down::before {
    content: "\f381"
}

.mdi-menu-left::before {
    content: "\f382"
}

.mdi-menu-right::before {
    content: "\f383"
}

.mdi-menu-up::before {
    content: "\f384"
}

.mdi-message::before {
    content: "\f385"
}

.mdi-message-alert::before {
    content: "\f386"
}

.mdi-message-draw::before {
    content: "\f387"
}

.mdi-message-image::before {
    content: "\f388"
}

.mdi-message-processing::before {
    content: "\f389"
}

.mdi-message-reply::before {
    content: "\f38a"
}

.mdi-message-video::before {
    content: "\f38b"
}

.mdi-microphone::before {
    content: "\f38c"
}

.mdi-microphone-off::before {
    content: "\f38d"
}

.mdi-microphone-outline::before {
    content: "\f38e"
}

.mdi-microphone-settings::before {
    content: "\f38f"
}

.mdi-microphone-variant::before {
    content: "\f390"
}

.mdi-microphone-variant-off::before {
    content: "\f391"
}

.mdi-minus::before {
    content: "\f392"
}

.mdi-minus-box::before {
    content: "\f393"
}

.mdi-minus-circle::before {
    content: "\f394"
}

.mdi-minus-circle-outline::before {
    content: "\f395"
}

.mdi-minus-network::before {
    content: "\f396"
}

.mdi-monitor::before {
    content: "\f397"
}

.mdi-monitor-multiple::before {
    content: "\f398"
}

.mdi-more::before {
    content: "\f399"
}

.mdi-motorbike::before {
    content: "\f39a"
}

.mdi-mouse::before {
    content: "\f39b"
}

.mdi-mouse-off::before {
    content: "\f39c"
}

.mdi-mouse-variant::before {
    content: "\f39d"
}

.mdi-mouse-variant-off::before {
    content: "\f39e"
}

.mdi-movie::before {
    content: "\f39f"
}

.mdi-multiplication::before {
    content: "\f3a0"
}

.mdi-multiplication-box::before {
    content: "\f3a1"
}

.mdi-music-box::before {
    content: "\f3a2"
}

.mdi-music-box-outline::before {
    content: "\f3a3"
}

.mdi-music-circle::before {
    content: "\f3a4"
}

.mdi-music-note::before {
    content: "\f3a5"
}

.mdi-music-note-eighth::before {
    content: "\f3a6"
}

.mdi-music-note-half::before {
    content: "\f3a7"
}

.mdi-music-note-off::before {
    content: "\f3a8"
}

.mdi-music-note-quarter::before {
    content: "\f3a9"
}

.mdi-music-note-sixteenth::before {
    content: "\f3aa"
}

.mdi-music-note-whole::before {
    content: "\f3ab"
}

.mdi-nature::before {
    content: "\f3ac"
}

.mdi-nature-people::before {
    content: "\f3ad"
}

.mdi-navigation::before {
    content: "\f3ae"
}

.mdi-needle::before {
    content: "\f3af"
}

.mdi-nest-protect::before {
    content: "\f3b0"
}

.mdi-nest-thermostat::before {
    content: "\f3b1"
}

.mdi-newspaper::before {
    content: "\f3b2"
}

.mdi-nfc::before {
    content: "\f3b3"
}

.mdi-nfc-tap::before {
    content: "\f3b4"
}

.mdi-nfc-variant::before {
    content: "\f3b5"
}

.mdi-numeric::before {
    content: "\f3b6"
}

.mdi-numeric-0-box::before {
    content: "\f3b7"
}

.mdi-numeric-0-box-multiple-outline::before {
    content: "\f3b8"
}

.mdi-numeric-0-box-outline::before {
    content: "\f3b9"
}

.mdi-numeric-1-box::before {
    content: "\f3ba"
}

.mdi-numeric-1-box-multiple-outline::before {
    content: "\f3bb"
}

.mdi-numeric-1-box-outline::before {
    content: "\f3bc"
}

.mdi-numeric-2-box::before {
    content: "\f3bd"
}

.mdi-numeric-2-box-multiple-outline::before {
    content: "\f3be"
}

.mdi-numeric-2-box-outline::before {
    content: "\f3bf"
}

.mdi-numeric-3-box::before {
    content: "\f3c0"
}

.mdi-numeric-3-box-multiple-outline::before {
    content: "\f3c1"
}

.mdi-numeric-3-box-outline::before {
    content: "\f3c2"
}

.mdi-numeric-4-box::before {
    content: "\f3c3"
}

.mdi-numeric-4-box-multiple-outline::before {
    content: "\f3c4"
}

.mdi-numeric-4-box-outline::before {
    content: "\f3c5"
}

.mdi-numeric-5-box::before {
    content: "\f3c6"
}

.mdi-numeric-5-box-multiple-outline::before {
    content: "\f3c7"
}

.mdi-numeric-5-box-outline::before {
    content: "\f3c8"
}

.mdi-numeric-6-box::before {
    content: "\f3c9"
}

.mdi-numeric-6-box-multiple-outline::before {
    content: "\f3ca"
}

.mdi-numeric-6-box-outline::before {
    content: "\f3cb"
}

.mdi-numeric-7-box::before {
    content: "\f3cc"
}

.mdi-numeric-7-box-multiple-outline::before {
    content: "\f3cd"
}

.mdi-numeric-7-box-outline::before {
    content: "\f3ce"
}

.mdi-numeric-8-box::before {
    content: "\f3cf"
}

.mdi-numeric-8-box-multiple-outline::before {
    content: "\f3d0"
}

.mdi-numeric-8-box-outline::before {
    content: "\f3d1"
}

.mdi-numeric-9-box::before {
    content: "\f3d2"
}

.mdi-numeric-9-box-multiple-outline::before {
    content: "\f3d3"
}

.mdi-numeric-9-box-outline::before {
    content: "\f3d4"
}

.mdi-numeric-9-plus-box::before {
    content: "\f3d5"
}

.mdi-numeric-9-plus-box-multiple-outline::before {
    content: "\f3d6"
}

.mdi-numeric-9-plus-box-outline::before {
    content: "\f3d7"
}

.mdi-nutriton::before {
    content: "\f3d8"
}

.mdi-office::before {
    content: "\f3d9"
}

.mdi-oil::before {
    content: "\f3da"
}

.mdi-omega::before {
    content: "\f3db"
}

.mdi-onedrive::before {
    content: "\f3dc"
}

.mdi-open-in-app::before {
    content: "\f3dd"
}

.mdi-ornament::before {
    content: "\f3de"
}

.mdi-ornament-variant::before {
    content: "\f3df"
}

.mdi-package::before {
    content: "\f3e0"
}

.mdi-package-down::before {
    content: "\f3e1"
}

.mdi-package-up::before {
    content: "\f3e2"
}

.mdi-package-variant::before {
    content: "\f3e3"
}

.mdi-palette::before {
    content: "\f3e4"
}

.mdi-palette-advanced::before {
    content: "\f3e5"
}

.mdi-panda::before {
    content: "\f3e6"
}

.mdi-pandora::before {
    content: "\f3e7"
}

.mdi-panorama::before {
    content: "\f3e8"
}

.mdi-panorama-fisheye::before {
    content: "\f3e9"
}

.mdi-panorama-horizontal::before {
    content: "\f3ea"
}

.mdi-panorama-vertical::before {
    content: "\f3eb"
}

.mdi-panorama-wide-angle::before {
    content: "\f3ec"
}

.mdi-paper-cut-vertical::before {
    content: "\f3ed"
}

.mdi-paperclip::before {
    content: "\f3ee"
}

.mdi-parking::before {
    content: "\f3ef"
}

.mdi-pause::before {
    content: "\f3f0"
}

.mdi-pause-circle::before {
    content: "\f3f1"
}

.mdi-pause-circle-outline::before {
    content: "\f3f2"
}

.mdi-pause-octagon::before {
    content: "\f3f3"
}

.mdi-pause-octagon-outline::before {
    content: "\f3f4"
}

.mdi-pencil::before {
    content: "\f3f5"
}

.mdi-pencil-box::before {
    content: "\f3f6"
}

.mdi-pencil-box-outline::before {
    content: "\f3f7"
}

.mdi-pharmacy::before {
    content: "\f3f8"
}

.mdi-phone::before {
    content: "\f3f9"
}

.mdi-phone-bluetooth::before {
    content: "\f3fa"
}

.mdi-phone-forward::before {
    content: "\f3fb"
}

.mdi-phone-hangup::before {
    content: "\f3fc"
}

.mdi-phone-in-talk::before {
    content: "\f3fd"
}

.mdi-phone-locked::before {
    content: "\f3fe"
}

.mdi-phone-missed::before {
    content: "\f3ff"
}

.mdi-phone-paused::before {
    content: "\f400"
}

.mdi-phone-settings::before {
    content: "\f401"
}

.mdi-pig::before {
    content: "\f402"
}

.mdi-pill::before {
    content: "\f403"
}

.mdi-pin::before {
    content: "\f404"
}

.mdi-pin-off::before {
    content: "\f405"
}

.mdi-pine-tree::before {
    content: "\f406"
}

.mdi-pine-tree-box::before {
    content: "\f407"
}

.mdi-pinterest::before {
    content: "\f408"
}

.mdi-pizza::before {
    content: "\f409"
}

.mdi-play::before {
    content: "\f40a"
}

.mdi-play-box-outline::before {
    content: "\f40b"
}

.mdi-play-circle::before {
    content: "\f40c"
}

.mdi-play-circle-outline::before {
    content: "\f40d"
}

.mdi-playlist-plus::before {
    content: "\f40e"
}

.mdi-plus::before {
    content: "\f40f"
}

.mdi-plus-box::before {
    content: "\f410"
}

.mdi-plus-circle::before {
    content: "\f411"
}

.mdi-plus-circle-outline::before {
    content: "\f412"
}

.mdi-plus-network::before {
    content: "\f413"
}

.mdi-plus-one::before {
    content: "\f414"
}

.mdi-pocket::before {
    content: "\f415"
}

.mdi-poll::before {
    content: "\f416"
}

.mdi-poll-box::before {
    content: "\f417"
}

.mdi-polymer::before {
    content: "\f418"
}

.mdi-popcorn::before {
    content: "\f419"
}

.mdi-pound::before {
    content: "\f41a"
}

.mdi-pound-box::before {
    content: "\f41b"
}

.mdi-power::before {
    content: "\f41c"
}

.mdi-power-settings::before {
    content: "\f41d"
}

.mdi-presentation::before {
    content: "\f41e"
}

.mdi-presentation-play::before {
    content: "\f41f"
}

.mdi-printer::before {
    content: "\f420"
}

.mdi-puzzle::before {
    content: "\f421"
}

.mdi-qrcode::before {
    content: "\f422"
}

.mdi-quadcopter::before {
    content: "\f423"
}

.mdi-quality-high::before {
    content: "\f424"
}

.mdi-quicktime::before {
    content: "\f425"
}

.mdi-radiator::before {
    content: "\f426"
}

.mdi-radioactive::before {
    content: "\f427"
}

.mdi-radiobox-blank::before {
    content: "\f428"
}

.mdi-radiobox-marked::before {
    content: "\f429"
}

.mdi-rdio::before {
    content: "\f42a"
}

.mdi-read::before {
    content: "\f42b"
}

.mdi-readability::before {
    content: "\f42c"
}

.mdi-receipt::before {
    content: "\f42d"
}

.mdi-recycle::before {
    content: "\f42e"
}

.mdi-redo::before {
    content: "\f42f"
}

.mdi-redo-variant::before {
    content: "\f430"
}

.mdi-refresh::before {
    content: "\f431"
}

.mdi-relative-scale::before {
    content: "\f432"
}

.mdi-reload::before {
    content: "\f433"
}

.mdi-remote::before {
    content: "\f434"
}

.mdi-rename-box::before {
    content: "\f435"
}

.mdi-repeat::before {
    content: "\f436"
}

.mdi-repeat-off::before {
    content: "\f437"
}

.mdi-repeat-once::before {
    content: "\f438"
}

.mdi-replay::before {
    content: "\f439"
}

.mdi-reply::before {
    content: "\f43a"
}

.mdi-reply-all::before {
    content: "\f43b"
}

.mdi-responsive::before {
    content: "\f43c"
}

.mdi-rewind::before {
    content: "\f43d"
}

.mdi-ribbon::before {
    content: "\f43e"
}

.mdi-rocket::before {
    content: "\f43f"
}

.mdi-rotate-3d::before {
    content: "\f440"
}

.mdi-rotate-left::before {
    content: "\f441"
}

.mdi-rotate-left-variant::before {
    content: "\f442"
}

.mdi-rotate-right::before {
    content: "\f443"
}

.mdi-rotate-right-variant::before {
    content: "\f444"
}

.mdi-routes::before {
    content: "\f445"
}

.mdi-rss::before {
    content: "\f446"
}

.mdi-rss-box::before {
    content: "\f447"
}

.mdi-ruler::before {
    content: "\f448"
}

.mdi-run::before {
    content: "\f449"
}

.mdi-satellite::before {
    content: "\f44a"
}

.mdi-satellite-variant::before {
    content: "\f44b"
}

.mdi-scale::before {
    content: "\f44c"
}

.mdi-scale-bathroom::before {
    content: "\f44d"
}

.mdi-school::before {
    content: "\f44e"
}

.mdi-screen-rotation::before {
    content: "\f44f"
}

.mdi-screen-rotation-lock::before {
    content: "\f450"
}

.mdi-script::before {
    content: "\f451"
}

.mdi-sd::before {
    content: "\f452"
}

.mdi-security::before {
    content: "\f453"
}

.mdi-security-network::before {
    content: "\f454"
}

.mdi-select::before {
    content: "\f455"
}

.mdi-select-inverse::before {
    content: "\f456"
}

.mdi-select-off::before {
    content: "\f457"
}

.mdi-send::before {
    content: "\f458"
}

.mdi-server::before {
    content: "\f459"
}

.mdi-server-minus::before {
    content: "\f45a"
}

.mdi-server-network::before {
    content: "\f45b"
}

.mdi-server-network-off::before {
    content: "\f45c"
}

.mdi-server-off::before {
    content: "\f45d"
}

.mdi-server-plus::before {
    content: "\f45e"
}

.mdi-server-remove::before {
    content: "\f45f"
}

.mdi-server-security::before {
    content: "\f460"
}

.mdi-settings::before {
    content: "\f461"
}

.mdi-settings-box::before {
    content: "\f462"
}

.mdi-shape-plus::before {
    content: "\f463"
}

.mdi-share::before {
    content: "\f464"
}

.mdi-share-variant::before {
    content: "\f465"
}


.mdi-shopping::before {
    content: "\f466"
}

.mdi-shopping-music::before {
    content: "\f467"
}

.mdi-shuffle::before {
    content: "\f468"
}

.mdi-sigma::before {
    content: "\f469"
}

.mdi-sign-caution::before {
    content: "\f46a"
}

.mdi-silverware::before {
    content: "\f46b"
}

.mdi-silverware-fork::before {
    content: "\f46c"
}

.mdi-silverware-spoon::before {
    content: "\f46d"
}

.mdi-silverware-variant::before {
    content: "\f46e"
}

.mdi-sim-alert::before {
    content: "\f46f"
}

.mdi-skip-next::before {
    content: "\f470"
}

.mdi-skip-previous::before {
    content: "\f471"
}

.mdi-snowman::before {
    content: "\f472"
}

.mdi-sort::before {
    content: "\f473"
}

.mdi-sort-alphabetical::before {
    content: "\f474"
}

.mdi-sort-ascending::before {
    content: "\f475"
}

.mdi-sort-descending::before {
    content: "\f476"
}

.mdi-sort-numeric::before {
    content: "\f477"
}

.mdi-sort-variant::before {
    content: "\f478"
}

.mdi-soundcloud::before {
    content: "\f479"
}

.mdi-source-fork::before {
    content: "\f47a"
}

.mdi-source-pull::before {
    content: "\f47b"
}

.mdi-speaker::before {
    content: "\f47c"
}

.mdi-speaker-off::before {
    content: "\f47d"
}

.mdi-speedometer::before {
    content: "\f47e"
}

.mdi-spellcheck::before {
    content: "\f47f"
}

.mdi-spotify::before {
    content: "\f480"
}

.mdi-spotlight::before {
    content: "\f481"
}

.mdi-spotlight-beam::before {
    content: "\f482"
}

.mdi-stackoverflow::before {
    content: "\f483"
}

.mdi-star::before {
    content: "\f484"
}

.mdi-star-circle::before {
    content: "\f485"
}

.mdi-star-half::before {
    content: "\f486"
}

.mdi-star-outline::before {
    content: "\f487"
}

.mdi-stocking::before {
    content: "\f488"
}

.mdi-stop::before {
    content: "\f489"
}

.mdi-store::before {
    content: "\f48a"
}

.mdi-store-24-hour::before {
    content: "\f48b"
}

.mdi-stove::before {
    content: "\f48c"
}

.mdi-subway::before {
    content: "\f48d"
}

.mdi-swap-horizontal::before {
    content: "\f48e"
}

.mdi-swap-vertical::before {
    content: "\f48f"
}

.mdi-swim::before {
    content: "\f490"
}

.mdi-sword::before {
    content: "\f491"
}

.mdi-sync::before {
    content: "\f492"
}

.mdi-sync-alert::before {
    content: "\f493"
}

.mdi-sync-off::before {
    content: "\f494"
}

.mdi-tab::before {
    content: "\f495"
}

.mdi-tab-unselected::before {
    content: "\f496"
}

.mdi-table::before {
    content: "\f497"
}

.mdi-table-large::before {
    content: "\f498"
}

.mdi-tablet::before {
    content: "\f499"
}

.mdi-tablet-android::before {
    content: "\f49a"
}

.mdi-tablet-ipad::before {
    content: "\f49b"
}

.mdi-tag::before {
    content: "\f49c"
}

.mdi-tag-faces::before {
    content: "\f49d"
}

.mdi-tag-outline::before {
    content: "\f49e"
}

.mdi-tag-text-outline::before {
    content: "\f49f"
}

.mdi-taxi::before {
    content: "\f4a0"
}

.mdi-television::before {
    content: "\f4a1"
}

.mdi-television-guide::before {
    content: "\f4a2"
}

.mdi-temperature-celsius::before {
    content: "\f4a3"
}

.mdi-temperature-fahrenheit::before {
    content: "\f4a4"
}

.mdi-temperature-kelvin::before {
    content: "\f4a5"
}

.mdi-tent::before {
    content: "\f4a6"
}

.mdi-terrain::before {
    content: "\f4a7"
}

.mdi-text-to-speech::before {
    content: "\f4a8"
}

.mdi-text-to-speech-off::before {
    content: "\f4a9"
}

.mdi-texture::before {
    content: "\f4aa"
}

.mdi-theater::before {
    content: "\f4ab"
}

.mdi-theme-light-dark::before {
    content: "\f4ac"
}

.mdi-thermometer::before {
    content: "\f4ad"
}

.mdi-thermometer-lines::before {
    content: "\f4ae"
}

.mdi-thumb-down::before {
    content: "\f4af"
}

.mdi-thumb-up::before {
    content: "\f4b0"
}

.mdi-thumbs-up-down::before {
    content: "\f4b1"
}

.mdi-ticket::before {
    content: "\f4b2"
}

.mdi-ticket-account::before {
    content: "\f4b3"
}

.mdi-tie::before {
    content: "\f4b4"
}

.mdi-timelapse::before {
    content: "\f4b5"
}

.mdi-timer::before {
    content: "\f4b6"
}

.mdi-timer-10::before {
    content: "\f4b7"
}

.mdi-timer-3::before {
    content: "\f4b8"
}

.mdi-timer-off::before {
    content: "\f4b9"
}

.mdi-timer-sand::before {
    content: "\f4ba"
}

.mdi-timetable::before {
    content: "\f4bb"
}

.mdi-toggle-switch::before {
    content: "\f4bc"
}

.mdi-toggle-switch-off::before {
    content: "\f4bd"
}

.mdi-tooltip::before {
    content: "\f4be"
}

.mdi-tooltip-edit::before {
    content: "\f4bf"
}

.mdi-tooltip-image::before {
    content: "\f4c0"
}

.mdi-tooltip-outline::before {
    content: "\f4c1"
}

.mdi-tooltip-text::before {
    content: "\f4c2"
}

.mdi-tor::before {
    content: "\f4c3"
}

.mdi-traffic-light::before {
    content: "\f4c4"
}

.mdi-train::before {
    content: "\f4c5"
}

.mdi-tram::before {
    content: "\f4c6"
}

.mdi-transcribe::before {
    content: "\f4c7"
}

.mdi-transcribe-close::before {
    content: "\f4c8"
}

.mdi-trello::before {
    content: "\f4c9"
}

.mdi-trending-down::before {
    content: "\f4ca"
}

.mdi-trending-neutral::before {
    content: "\f4cb"
}

.mdi-trending-up::before {
    content: "\f4cc"
}

.mdi-trophy::before {
    content: "\f4cd"
}

.mdi-trophy-award::before {
    content: "\f4ce"
}

.mdi-trophy-variant::before {
    content: "\f4cf"
}

.mdi-truck::before {
    content: "\f4d0"
}

.mdi-tshirt-crew::before {
    content: "\f4d1"
}

.mdi-tshirt-v::before {
    content: "\f4d2"
}

.mdi-tumblr::before {
    content: "\f4d3"
}

.mdi-tumblr-reblog::before {
    content: "\f4d4"
}

.mdi-twitch::before {
    content: "\f4d5"
}

.mdi-twitter::before {
    content: "\f4d6"
}

.mdi-twitter-box::before {
    content: "\f4d7"
}

.mdi-twitter-retweet::before {
    content: "\f4d8"
}

.mdi-ubuntu::before {
    content: "\f4d9"
}

.mdi-undo::before {
    content: "\f4da"
}

.mdi-undo-variant::before {
    content: "\f4db"
}

.mdi-unfold-less::before {
    content: "\f4dc"
}

.mdi-unfold-more::before {
    content: "\f4dd"
}

.mdi-upload::before {
    content: "\f4de"
}

.mdi-usb::before {
    content: "\f4df"
}

.mdi-vector-curve::before {
    content: "\f4e0"
}

.mdi-vector-point::before {
    content: "\f4e1"
}

.mdi-vector-square::before {
    content: "\f4e2"
}

.mdi-verified::before {
    content: "\f4e3"
}

.mdi-vibrate::before {
    content: "\f4e4"
}

.mdi-video::before {
    content: "\f4e5"
}

.mdi-video-off::before {
    content: "\f4e6"
}

.mdi-video-switch::before {
    content: "\f4e7"
}

.mdi-view-agenda::before {
    content: "\f4e8"
}

.mdi-view-array::before {
    content: "\f4e9"
}

.mdi-view-carousel::before {
    content: "\f4ea"
}

.mdi-view-column::before {
    content: "\f4eb"
}

.mdi-view-dashboard::before {
    content: "\f4ec"
}

.mdi-view-day::before {
    content: "\f4ed"
}

.mdi-view-headline::before {
    content: "\f4ee"
}

.mdi-view-list::before {
    content: "\f4ef"
}

.mdi-view-module::before {
    content: "\f4f0"
}

.mdi-view-quilt::before {
    content: "\f4f1"
}

.mdi-view-stream::before {
    content: "\f4f2"
}

.mdi-view-week::before {
    content: "\f4f3"
}

.mdi-vimeo::before {
    content: "\f4f4"
}

.mdi-voicemail::before {
    content: "\f4f5"
}

.mdi-volume-high::before {
    content: "\f4f6"
}

.mdi-volume-low::before {
    content: "\f4f7"
}

.mdi-volume-medium::before {
    content: "\f4f8"
}

.mdi-volume-off::before {
    content: "\f4f9"
}

.mdi-walk::before {
    content: "\f4fa"
}

.mdi-wallet::before {
    content: "\f4fb"
}

.mdi-wallet-giftcard::before {
    content: "\f4fc"
}

.mdi-wallet-membership::before {
    content: "\f4fd"
}

.mdi-wallet-travel::before {
    content: "\f4fe"
}

.mdi-watch::before {
    content: "\f4ff"
}

.mdi-water::before {
    content: "\f500"
}

.mdi-water-off::before {
    content: "\f501"
}

.mdi-water-pump::before {
    content: "\f502"
}

.mdi-weather-cloudy::before {
    content: "\f503"
}

.mdi-weather-hail::before {
    content: "\f504"
}

.mdi-weather-lightning::before {
    content: "\f505"
}

.mdi-weather-night::before {
    content: "\f506"
}

.mdi-weather-partlycloudy::before {
    content: "\f507"
}

.mdi-weather-pouring::before {
    content: "\f508"
}

.mdi-weather-rainy::before {
    content: "\f509"
}

.mdi-weather-snowy::before {
    content: "\f50a"
}

.mdi-weather-sunny::before {
    content: "\f50b"
}

.mdi-weather-sunset::before {
    content: "\f50c"
}

.mdi-weather-sunset-down::before {
    content: "\f50d"
}

.mdi-weather-sunset-up::before {
    content: "\f50e"
}

.mdi-weather-windy::before {
    content: "\f50f"
}

.mdi-weather-windy-variant::before {
    content: "\f510"
}

.mdi-web::before {
    content: "\f511"
}

.mdi-webcam::before {
    content: "\f512"
}

.mdi-whatsapp::before {
    content: "\f513"
}

.mdi-wheelchair-accessibility::before {
    content: "\f514"
}

.mdi-white-balance-auto::before {
    content: "\f515"
}

.mdi-white-balance-incandescent::before {
    content: "\f516"
}

.mdi-white-balance-irradescent::before {
    content: "\f517"
}

.mdi-white-balance-sunny::before {
    content: "\f518"
}

.mdi-wifi::before {
    content: "\f519"
}

.mdi-wikipedia::before {
    content: "\f51a"
}

.mdi-window-closed::before {
    content: "\f51b"
}

.mdi-window-open::before {
    content: "\f51c"
}

.mdi-windows::before {
    content: "\f51d"
}

.mdi-wordpress::before {
    content: "\f51e"
}

.mdi-xbox::before {
    content: "\f51f"
}

.mdi-xbox-controller::before {
    content: "\f520"
}

.mdi-xbox-controller-off::before {
    content: "\f521"
}

.mdi-xda::before {
    content: "\f522"
}

.mdi-xml::before {
    content: "\f523"
}

.mdi-yeast::before {
    content: "\f524"
}

.mdi-youtube-play::before {
    content: "\f525"
}

.mdi-zip-box::before {
    content: "\f526"
}