/*PAGE STYLES*/
.pageBanner {
	position: relative;
	width: 100%;
	height: 45vh;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	/* margin-bottom: 60px; */
}

.pageBanner:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.52);
}

.pageBanner .pageBannerText {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}

.pageBanner .pageBannerText h1 {
	/* text-transform: uppercase; */
	font-weight: bold;
	/*border-bottom: 1px solid;*/
	padding: 7px 0;
	margin: 7px 0;
}

.pageBanner .pageBannerText p {
	font-size: 90%;
}

.pageBannerText h1 {
	font-size: 45px;
	/* color: #1ab0da; */
}

.pageSection {
	position: relative;
	min-height: 50vh;
	padding: 50px 0;
	background-color: #1b1b1b;
}

.pageSection .page-title {
	color: #000;
	margin-bottom: 20px;
}

.video-block {
	height: 0;
	width: 100%;
	background: #ccc;
	position: relative;
	z-index: 0;
	display: block;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-top: 56.6%;
}

.relative {
	position: relative;
}

.center-block {
	margin: 0 auto;
	float: none;
}

.video-block:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.video-block video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-description {
	position: absolute;
	width: 70%;
	height: auto;
	padding: 50px;
	background: #f5f5f5;
	transform: translateX(100%) translateY(-50%);
	top: 50%;
}

.video-description h3 {
	color: #000;
}

.video-description p {
	color: #fff;
}

/*PAGE STYLES*/

.about-features {
	border-left: 2px solid #1ab0da;
	padding-left: 21px;
}

/* - Form Style */
select {
	background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #eaeaea;
	padding: 7px 24px 7px 5px;
	font-weight: 400;
}

.full select {
	width: 100%;
}

.main-form input,
.main-form textarea,
.main-form select {
	background: #fff;
	padding: 8px 15px;
	width: 100%;
	border: 1px solid #eaeaea;
	min-height: 40px;
}

.main-form textarea {
	max-width: 100%;
}

.check-box label {
	color: #2a2931;
	display: inline;
	font-size: 15px;
	font-weight: 400;
}

.checkout-section .check-box input[type='checkbox'] {
	margin: 5px 0 0;
	min-height: 1px;
}

.o-grid {
	max-width: 48.7619rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}

.fw-300 {
	text-transform: uppercase;
	color: #1ab0da;
	font-size: 3rem;
	font-weight: 300;
	/* border-left: 12px solid;
	padding-left: 13px; */
}

.video-description {
	color: #1ab0da;
	font-size: 15px;
	border-left: 12px solid;
	padding-left: 13px;
}

.o-band {
	padding: 4rem 0;
}

blockquote {
	color: #1ab0da;
	font-size: 1.71429rem;
	line-height: 1.4;
}

blockquote p {
	margin-bottom: 1rem;
	text-indent: -0.5em;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-5 {
	margin-bottom: 50px !important;
}

.text-center {
	text-align: center;
}

.dpx-color {
	color: #1ab0da !important;
}

.fw-bolder {
	font-weight: 700 !important;
}

.double-line {
	display: inline-block;
	position: relative;
}

.contact-item > i {
	color: #1ab0da;
}

.contact-item > i {
	font-size: 2.8em;
	line-height: 70px;
	height: 70px;
	width: 100%;
	color: #1ab0da;
}

.contact-item {
	margin-bottom: 30px;
}

.contact-item .contact-info h4 {
	font-size: 1.35em;
	font-weight: 600;
	margin-bottom: 8px;
}

button.btn-black {
	background: #1ab0da;
	border: 0px;
	padding: 10px 30px;
}

/*video team */

.image-section {
	height: 300px;
	width: 100%;
	background: #ccc;
	position: relative;
	z-index: 0;
	display: block;

	top: 0;
	left: 0;
}

/* ----------------------
Our Works Page
---------------------- */

.Int-Des {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.Int-img {
	height: 350px;
	min-width: 350px;
	width: 30%;
	background: #ccc;
	position: relative;
	display: block;
	margin: 2% 0;
}

.Int-Des .haze {
	visibility: hidden;
}

.Int-Des a {
	width: 100%;
	height: 100%;
}

/* ----------------------
Our Services Page
---------------------- */

.services .row {
	background: rgba(0, 0, 0, 0.52) url('../img/services-bottom.jpg') no-repeat
		center;
	background-size: cover;
	height: 90vh;
	margin: 0;
	position: relative;
}

.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom {
	bottom: 0;
	margin: 0 27.5%;
}

.bottom-right {
	bottom: 0;
	right: 0;
}

.center-slight-left {
	top: 25%;
	left: 15%;
}

.dpx-color-div {
	position: absolute;
	display: flex;
	justify-content: center;
	height: 45%;
	width: 45%;
	background-color: rgba(255, 90, 52, 0.75);
	color: white;
	line-height: 1.7rem;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto 0;
	width: 60%;
}

.info p {
	font-size: 9pt;
}

a.service-btn {
	background-color: #336;
	color: white;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	padding: 2%;
	width: 40%;
}

.our-team .video-description {
	/* margin: 0; */
	/* width: 100% !important; */
}

@media (max-width: 911px) {
	.dpx-color-div {
		width: 80%;
	}
	.info {
		width: 75%;
	}
	.bottom {
		margin: 0 12.5%;
	}
	.center-slight-left {
		top: 0;
		left: 0;
		margin: 27.5% 12.5%;
	}
}

@media (max-width: 500px) {
	.dpx-color-div {
		margin: 27.5% 12.5% !important;
	}
}

@media (min-width: 768px) {
	.dpx-color-div h3 {
		font-size: 44pt;
	}
}
