/* ==========================================================================
   Helper styles
   ========================================================================== */

.text-center {
	text-align: center;
}

.btn-outline {
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 0;
	color: #000;
}

@for $i from 1 through 25 {
	.vspace-#{$i*2} {
		height: 0px + $i * 2;
		display: block;
		clear: both;
	}
}

.color1 {
	color: #55beba;
}

.color2 {
	color: #c88c27;
}

.color3 {
	color: #f36b6b;
}

.color4 {
	color: #a1b1b1;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	color: #fafcff;
}

header {
	.navbar {
		background: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

#banner {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	padding: 0;

	&:before {
		content: '';
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0, 0, 0, 0.65);
	}

	.bannerText {
		position: absolute;
		z-index: 2;

		&.one {
			left: 0;
			bottom: 0;
			height: 70%;
			width: 21%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				/* background: url(../img/banner_pattern1.svg) no-repeat right top;
                background-size: 100%; */
				opacity: 0.5;
			}

			span {
				color: #fff;
				font-size: 30px;
				-webkit-transform: rotateZ(90deg);
				transform: rotateZ(90deg);
				display: block;
				text-align: center;
				z-index: 1;
				position: relative;
				top: -30px;
				left: -20px;
				opacity: 0.8;
			}
		}

		&.two {
			top: 0;
			right: 0;
			text-transform: uppercase;
			height: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding: 40px 40px 40px 80px;
			width: 50%;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				/* background: url('../img/banner_pattern2.svg') no-repeat right center;
                background-size: auto 100%;*/
				opacity: 0.5;
			}

			h1 {
				color: #c88c27;
				font-weight: bold;
				font-size: 52px;
				text-align: right;
				position: relative;
				z-index: 2;
				margin: 0;
				line-height: 48px;
			}

			.bannerSliderWrap {
				width: 100%;
				height: auto;
				position: relative;
				z-index: 1;

				.bannerSlider {
					opacity: 0;
					visibility: hidden;

					&.slick-initialized {
						opacity: 1;
						visibility: visible;
					}

					.bannerSlide {
						outline: none;

						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}
}

/*HOME BANNER VIDEO STYLES*/

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.video-container video.fillWidth {
	width: 100%;
}

/*HOME BANNER VIDEO STYLES*/

.homeSection {
	overflow: hidden;
	padding: 50px 0;
	position: relative;

	.section-title {
		margin-bottom: 50px;
		text-transform: uppercase;

		h2 {
			font-size: 40px;
			font-weight: 700;
			color: #29abe2;
		}
	}
}

#intro {
	.section-inner {
		max-width: 80%;
		margin: 0 auto;
		padding: 40px 0;
		position: relative;
		top: 100px;
		opacity: 0;
		transition: all 1.5s ease;

		.section-top {
			ul {
				list-style-type: none;

				li {
					display: inline-block;
					position: relative;
					min-width: 250px;

					span {
						display: block;
						position: relative;
						min-width: 200px;

						&:first-child {
							font-size: 80px;
							font-weight: bold;
							/* padding: 0 40px; */
							line-height: normal;

							&:after {
								content: '';
								position: absolute;
								right: 0;
								height: 40%;
								width: 1px;
								background: #ccc;
								top: 50%;
								-webkit-transform: translateY(-50%);
								transform: translateY(-50%);
							}
						}

						&:last-child {
							text-transform: uppercase;
							font-size: 16px;
						}
					}

					&:last-child {
						span:first-child:after {
							display: none;
						}
					}
				}
			}
		}

		.section-bottom {
			padding-top: 20px;
			max-width: 90%;
			margin: 0 auto;
			font-size: 17px;

			.btn-outline {
				padding: 8px 40px;
			}
		}
	}

	&.visible {
		.section-inner {
			top: 0;
			opacity: 1;
		}
	}
}

.about {
	.section-title {
		span {
			display: block;
		}
	}

	.section-img {
		height: 100%;
		width: 50%;
		background: #ccc;
		position: absolute;
		right: 0;
		z-index: -1;
		top: 0;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.05);
			z-index: 1;
		}

		video {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	.about-inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		.about-title {
			width: 30%;

			span {
				position: relative;
				display: inline-block;

				&:after {
				}
			}

			.line {
				height: 0px;
				width: 100%;
				display: block;

				&:before {
					content: '';
					position: absolute;
					width: 0;
					height: 3px;
					background: #333333;
					left: 0;
					bottom: -40px;
					-webkit-animation: lineExpand 5s ease 0s infinite alternate;
					animation: lineExpand 5s ease 0s infinite alternate;
				}
			}
		}

		.about-text {
			width: 70%;
			padding: 60px;
			// box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1607843137254902);
			background-color: rgb(255, 0, 0);
		}
	}
}

.timeline {
	.timeline-wrapper {
		position: relative;
		counter-reset: section;

		.timeline-block {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding-bottom: 150px;
			position: relative;

			.timeline-img:after {
				counter-increment: section;
				content: '0' counter(section);
				position: absolute;
				bottom: 10px;
				font-size: 150px;
				z-index: 88;
				color: #29abe2;
				font-weight: 600;
				padding: 0 40px;
				line-height: 0;
				opacity: 0;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}

			.timeline-img {
				width: 50%;
				max-width: calc(50% - 20px);
				background: #ccc;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.timeline-content {
				width: 50%;
				max-width: calc(50% - 20px);
				/*border: 1px solid #ccc;*/
				box-shadow: inset 0 0 0 1px #f5f5f5;
				padding: 30px;
				position: relative;
				vertical-align: middle;

				&::before,
				&::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					border: 2px solid transparent;
					width: 0;
					height: 0;
				}

				&::before {
					top: 0;
					left: 0;
				}

				&::after {
					bottom: 0;
					right: 0;
				}

				&::after {
					top: 0;
					left: 0;
				}

				&:hover::before,
				&:hover::after {
					width: 100%;
					height: 100%;
				}

				&:hover::before {
					border-top-color: #29abe2;
					border-right-color: #29abe2;
					transition: // Animate height first, then width
						width 2.25s ease-out, height 2.25s ease-out 2.25s;
				}

				&:hover::after {
					border-bottom-color: #189bd1;
					border-left-color: #189bd1;
					transition: // Animate height first, then width
						height 2.25s ease-out, width 2.25s ease-out 2.25s;
				}

				/*
                .line-top,
                .line-bottom{
                	position: absolute;
                    width: 0;
                    height: 1px;
                    background: #ccc;
                    //animation-fill-mode: forwards;
                    //animation: line1 linear 4s infinite alternate;
                }
                .line-left,
                .line-right{
                	position: absolute;
                    width: 1px;
                    height: 0;
                    background: #ccc; 
                    //animation-fill-mode: forwards;
                    //animation: line2 linear 4s infinite alternate;
                }
                
                .line-top{
                    top: 0;   
                    left: 0;
                    animation: line1 linear 5s infinite alternate;
                    animation-play-state: paused;
                }
                .line-right{
                    top: 0;
                    right: 0;
                    animation: line2 linear 5s infinite alternate;
                    animation-play-state: paused;
                }
                .line-bottom{
                    bottom: 0;
                    right: 0;
                    animation: line3 linear 5s infinite alternate;
                    animation-play-state: paused;
                }
                .line-left{
                    left: 0;
                    bottom: 0;
                    animation: line4 linear 5s infinite alternate;
                    animation-play-state: paused;
                }
                */
			}

			&:before {
				content: '';
				position: absolute;
				top: calc(100% - 105px);
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				width: 3px;
				height: 0px;
				background: #676767;
				-webkit-transition: all 1s ease-out;
				transition: all 1s ease-out;
			}

			&:last-child {
				padding-bottom: 0;

				&:before {
					display: none;
				}
			}

			&.reverse {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: reverse;
				-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
			}

			> div {
				opacity: 0;
				-webkit-transition: all 1s ease-out;
				transition: all 1s ease-out;
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					&:before {
						-webkit-transition-delay: 0.5s + $i;
						transition-delay: 0.5s + $i;
					}

					> div {
						-webkit-transition-delay: 0s + $i;
						transition-delay: 0s + $i;
					}

					.timeline-img:after {
						-webkit-transition-delay: 1.25s + $i;
						transition-delay: 1.25s + $i;
					}

					.timeline-content {
						.line-bottom {
							-webkit-animation-delay: 0s + $i;
							animation-delay: 0s + $i;
						}

						.line-left,
						.line-right {
							-webkit-animation-delay: 0s + $i;
							animation-delay: 0s + $i;
						}
					}
				}
			}

			&:nth-child(1) {
				> div {
					-webkit-transition-delay: 0.5s;
					transition-delay: 0.5s;
				}
			}

			&:nth-child(odd) {
				.timeline-img {
					-webkit-transform: translateX(-100px);
					transform: translateX(-100px);

					&:after {
						right: 0;
					}
				}

				.timeline-content {
					-webkit-transform: translateX(100px);
					transform: translateX(100px);
				}
			}

			&:nth-child(even) {
				.timeline-img {
					-webkit-transform: translateX(100px);
					transform: translateX(100px);

					&:after {
						left: 0;
					}
				}

				.timeline-content {
					-webkit-transform: translateX(-100px);
					transform: translateX(-100px);
				}
			}
		}
	}

	& .visible {
		.timeline-wrapper .timeline-block {
			&:before {
				height: 70px;
			}

			> div {
				opacity: 1;

				&:first-child {
					-webkit-transform: translateX(0px);
					transform: translateX(0px);
				}

				&:last-child {
					-webkit-transform: translateX(0px);
					transform: translateX(0px);
				}
			}

			.timeline-img {
				&:after {
					opacity: 1;
				}
			}

			.timeline-content {
				.line-top {
					animation-play-state: running;
				}

				.line-right {
					animation-play-state: running;
				}

				.line-bottom {
					animation-play-state: running;
				}

				.line-left {
					animation-play-state: running;
				}
			}
		}
	}
}

.more-btn-wrap {
	.more-btn {
		padding: 10px 30px;
		border: 2px solid;
		color: #ffd235;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;

		&:hover {
			text-decoration: none;
			color: #29abe2;
		}
	}
}

.portfolio {
	.grid {
		margin: 0 -4px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		.grid-column {
			&:nth-child(1) {
				width: 37%;
			}

			&:nth-child(2) {
				width: 26%;
			}

			&:nth-child(3) {
				width: 37%;
			}

			&:nth-child(1),
			&:nth-child(3) {
				.grid-block {
					padding-top: 50%;
				}
			}

			&:nth-child(2) {
				.grid-block {
					height: 100%;
				}
			}

			.grid-block {
				width: 100%;
				background: #ccc;
				position: relative;
			}

			.grid-img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border: 4px solid #1b1b1b;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.grid-img:before {
				content: '';
				top: 0;
				left: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-transition: all 1s ease;
				transition: all 1s ease;
				z-index: 1;
				opacity: 0.5;
				background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(rgba(0, 0, 0, 0)),
					to(rgba(0, 0, 0, 0.85))
				);
				background: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0) 100%
				);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
			}

			.grid-img-title {
				position: absolute;
				bottom: 0;
				padding: 20px;
				color: #29abe2;
				font-size: 18px;
				width: 100%;
				display: block;
				z-index: 2;

				span {
					display: block;
					font-size: 80%;
					color: #dfdfdf;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}

			.grid-block:hover .grid-img:before {
				opacity: 1;
			}
		}
	}
}

.testimonial {
	.section-inner {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;

		> div {
			max-width: 46%;
		}
	}

	.testimonialSlider {
		position: relative;

		.slide {
			//padding: 0 20px;
			padding: 20px 0;

			.testimonialBlock {
				.testimonial-meta {
					span {
						display: block;

						&:first-child {
							font-weight: 600;
						}

						&:last-child {
						}
					}
				}
			}

			&:focus {
				outline: none;
			}
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			border: 0;
			width: 24px;
			height: 24px;
			overflow: hidden;
			color: transparent;
			text-indent: -9999px;
		}

		.slick-prev {
			left: -40px;
			background: url('../img/back.svg');
		}

		.slick-next {
			right: -40px;
			background: url('../img/next.svg');
		}

		.slick-dots {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline-block;
				width: 12px;
				height: 12px;
				overflow: hidden;
				background: #ccc;
				margin: 0 5px;
				border-radius: 100%;
				text-indent: -999px;
				color: transparent;
				cursor: pointer;

				&.slick-active {
					background: #189bd1;
				}
			}
		}
	}

	.partners {
		padding: 0;
		margin: 0 -20px;
		list-style-type: none;
		overflow: hidden;

		li {
			width: 50%;
			display: inline-block;
			float: left;
			overflow: hidden;
			padding: 20px;

			img {
				width: 100%;
				max-width: 250px;
			}
		}
	}
}

.pre-footer {
	background: #000000;

	.footer-links {
		.footer-link {
			text-decoration: none;
			color: #fff;
			display: block;
			font-size: 13px;
			margin: 10px 0;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;

			&:hover {
				color: #b99d58;
			}
		}
	}
}

footer {
	padding: 20px 0;
	background: #0e0f10;
	color: #fff;

	p {
		margin: 0;
		font-size: 90%;
		color: #fff;
		display: block;
		font-size: 80%;
	}
}

.soc {
	position: fixed;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;

	a {
		display: block !important;
		margin: 0 0 2px 0;
		background: #0e0f10 !important;
	}
}

@media (min-width: 768px) {
	.bodyScrolled {
		.navbar {
			background: #141517;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
	}

	.navbar-brand {
		height: auto;
		margin-left: 0 !important;

		> img {
			width: 200px;
		}
	}

	#navbar {
		margin-top: 22px;

		.nav {
			margin-right: 0;
			opacity: 0;
			visibility: hidden;
			margin-top: 8px;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;

			li {
				margin: 0 20px;

				a {
					padding: 0;
					background: transparent;
					color: #fff;
					text-shadow: none;
				}
			}
		}

		.navbar-toggle {
			display: block;
			margin-left: 15px;
			border: 0;
			padding: 0;

			&:hover {
				background: none;
			}

			.icon-bar {
				background-color: #dfa82e;
				width: 30px;
				height: 4px;
			}

			&:focus {
				background: none;
			}

			&.mOpen ~ .nav {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

//REVEAL TEXT ANIM
.reveal-text,
.reveal-text::after {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-animation-name: reveal-text;
	animation-name: reveal-text;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.reveal-text::after {
	content: '';
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #29abe2;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	pointer-events: none;
	-webkit-animation-name: revealer-text;
	animation-name: revealer-text;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.visible .reveal-text {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.visible .reveal-text:after {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.banner-reveal-text {
	position: relative;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
}

@-webkit-keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}

	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}

@keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}

	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}

@-webkit-keyframes revealer-text {
	0%,
	50% {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
	}

	60%,
	100% {
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
	}

	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
}

@keyframes revealer-text {
	0%,
	50% {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
	}

	60%,
	100% {
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
	}

	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
}

@-webkit-keyframes lineExpand {
	to {
		width: 70%;
	}
}

@keyframes lineExpand {
	to {
		width: 70%;
	}
}

/*

@keyframes line1 {
    0% {
        width: 0;
    }
    45%{
        width: 100%;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 100%;
    }
    100% {
        width: 100%;
    }
}
@keyframes line2 {
    0% {
        height: 0;
    }
    25%{
        height: 100%;
    }
    50%{
        height: 100%;
    }
    75%{
        height: 100%;
    }
    100% {
        height: 100%;
    }
}

@keyframes line3 {
    0% {
        width: 0;
    }
    25%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

@keyframes line4 {
    0% {
        height: 0;
    }
    25%{
        height: 0%;
    }
    50%{
        height: 0%;
    }
    75%{
        height: 100%;
    }
    100% {
        height: 100%;
    }
}

*/

// .active {
// 	display: block;
// 	color: #ff5a34;
// 	border-top: 1px solid #ff5a34;
// 	border-bottom: 1px solid #ff5a34;
// }

// .services-bg {
// 	.container {
// 		background: url('../img/Amigos-web-template_01.png') no-repeat center;
// 		background-size: cover;
// 	}

// 	.section-title {
// 		width: min-content;
// 	}
// }

// .head {
// 	display: flex;
// 	justify-content: flex-end;
// 	text-transform: uppercase;
// 	font-size: 32pt;
// 	color: #f00;

// 	* {
// 		margin-left: 1%;
// 	}
// }

// .service-content {
// 	padding: 5% 0;
// 	display: flex;
// 	justify-content: space-between;

// 	* {
// 		width: 30%;
// 	}

// 	h2 {
// 		font-size: 32pt;
// 		color: #ff5a34;
// 	}

// 	p {
// 		font-size: 1.5rem;
// 		line-height: 1.5rem;
// 	}
// }

// .service-nav {
// 	font-size: 18pt;
// 	list-style: none;
// 	display: flex;
// 	justify-content: space-between;
// 	padding: 0;
// 	color: #6e6d6e;
// 	cursor: pointer;

// 	li:hover {
// 		color: #ff5a34;
// 	}
// }

// .talk {
// 	text-align: center;
// 	color: #ff5a34;

// 	.hr {
// 		position: absolute;
// 		bottom: 0;
// 		margin-bottom: -30px;
// 		background-color: #8c7ad2;
// 		width: 100%;
// 		height: 20px;
// 	}
// }

// .talk-content {
// 	position: relative;
// 	padding: 3% 0 1.5% 0;
// 	display: flex;
// 	justify-content: space-around;

// 	img {
// 		height: 4.5rem;
// 		width: 4.5rem;
// 	}
// }

// .img-container {
// 	position: relative;

// 	.purple-haze {
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 		position: absolute;
// 		background-color: rgba(140, 124, 210, 0.5);
// 	}

// 	a {
// 		position: absolute;
// 		margin: 40%;
// 		color: rgba(245, 245, 245, 0.75);
// 		z-index: 2;
// 	}

// 	.tl-shutter {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		border-top: 350px solid rgba(255, 0, 0, 0.68);
// 		border-right: 350px solid transparent;
// 		opacity: 0;
// 		transition: border 0.5s ease-out;
// 	}

// 	.br-shutter {
// 		position: absolute;
// 		bottom: 0;
// 		right: 0;
// 		border-bottom: 350px solid rgba(255, 0, 0, 0.68);
// 		border-left: 350px solid transparent;
// 		opacity: 0;
// 		transition: border 0.5s ease-out;
// 	}

// 	&:hover {
// 		.purple-haze {
// 			display: none;
// 		}

// 		.tl-shutter {
// 			opacity: 1;
// 			border-top: 0 solid rgba(255, 0, 0, 0.68);
// 			border-right: 0 solid transparent;
// 		}

// 		.br-shutter {
// 			opacity: 1;
// 			border-bottom: 0 solid rgba(255, 0, 0, 0.68);
// 			border-left: 0 solid transparent;
// 		}
// 	}
// }
